{% extends "client_admin/dashboard/module.html" %}
{% block module_content %}
        {% for child in module.children %}
        <h3>{{ child.title }}</h3>
        <ul>
            {% for model in child.models %}
            <li class="clear">
                {% if model.change_url %}<a href="{{ model.change_url }}">{{ model.title }}</a>{% else %}{{ model.title }}{% endif %}
                {% if model.add_url or model.change_url %}
                <ul class="list-options clear">
                    {% if model.add_url %}<li><a class="addlink" href="{{ model.add_url }}"><span class="icon">{{ _("Add") }}</span></a></li>{% endif %}
                    {% if model.change_url %}<li><a class="changelink" href="{{ model.change_url }}"><span class="icon">{{ _("Change") }}</span></a></li>{% endif %}
                </ul>
                {% endif %}
            </li> 
            {% endfor %}
        </ul>
        {% endfor %}
{% endblock %}
