{% extends "client_admin/base.html" %}

{% set dashboard, dashboard_preferences, split_at, has_disabled_modules = get_current_dashboard() %}
{% set menu, has_bookmark_item, bookmark = get_menu() %}

{% block title %}{{ title }} | {{ _('Site admin') }}{% endblock %}

{% block branding %}
<h3 id="site-name">{{ _('Site administration') }}</h3>
{% endblock %}

{% block extra_style %}
{{ super() }}

<!--<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{#{% load adminmedia %}#}{{ STATIC_URL }}admin/css/base.css{% endblock %}" />-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{{ STATIC_URL }}admin/css/rtl.css{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";</script>
<link rel="stylesheet" href="{{ STATIC_URL }}client_admin/css/jquery/jquery-ui.css" type="text/css" media="screen, projection"/>
{% if dashboard and dashboard.Media %}
{% for css in dashboard.Media.css %}
<link rel="stylesheet" href="{{ STATIC_URL }}{{ css }}" type="text/css" media="screen, projection"/>
{% endfor %}
{% endif %}

<!--{% if user.is_active and user.is_staff %}
{% if not is_popup %}
<link rel="stylesheet" href="{{ STATIC_URL }}client_admin/css/menu.css" type="text/css" media="screen, projection"/>
<!--[if lt IE 8]>
<link rel="stylesheet" href="{{ STATIC_URL }}client_admin/css/ie.css" type="text/css" media="screen, projection"/>
<![endif]-->
<!--{% endif %}
{% endif %}-->
{% block extrastyle %}{% endblock %}
{% endblock %}


{% block bodyclass %}dashboard{% endblock %}

{% block blockbots %}  
    {{ super() }}
    <meta name="robots" content="NONE,NOARCHIVE" />
{% endblock %}

{% block secondary_nav %}
    {# if user.is_active and user.is_staff and not is_popup #}
    {% if user.is_active and user.is_staff %}

            {% if menu %}
                {% include menu.template %}
            {% endif %}

    {% endif %}
{% endblock %}


{% block pre_content %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <h2>{% block content_title %}{{ title }}{% endblock %}</h2>
	{% if has_bookmark_item and not is_popup %}
	    {% if bookmark %}
	        {% include "client_admin/menu/remove_bookmark_form.html" %}
	    {% else %}
	        {% include "client_admin/menu/add_bookmark_form.html" %}
	    {% endif %}
	{% endif %}

    {% block breadcrumbs %}{% endblock %}

{% endblock %}


{% block scripts %}
    {% if dashboard and dashboard.Media %}{% for js in dashboard.Media.js %}
    <script type="text/javascript" src="{{ STATIC_URL }}{{ js }}"></script>
    {% endfor %}{% endif %}
    <script type="text/javascript">
        // just use the namespaced jQuery as the regular one
        var jQuery = django.jQuery;
    </script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/jquery/jquery.collapsed_stacked_inlines.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/utils.js"></script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/jquery/jquery.grp_autocomplete_generic.min.js"></script> #}
    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/json.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/jquery/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/jquery/jquery.dashboard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/jquery/jquery.ui.nestedSortable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/bootstrap.file-input.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/watch.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/client_admin.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/dashboard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}client_admin/js/menu.js"></script>

    <script type="text/javascript">

        reset_order_fields = function(){
            parent_item = jQuery('ul.inline-group');
            order_fields = parent_item.find('select').filter(function() {
                return this.id.match(/.*?-order/);
            }).each(function(index) {
                jQuery(this).val(index+1);
            });
        };

        jQuery(document).ready(function($){

            {% if has_bookmark_item %}
            process_bookmarks(
               "{{ request.get_full_path() }}",
               "Page: {{ title }}",
               "{{ _('Please enter a name for the bookmark') }}"
            );
            {% endif %}
            
            {% if dashboard %}
            init_dashboard(
                '{{ dashboard.get_id() }}',
                {{ dashboard.columns }},
                {{ dashboard_preferences|safe }},
                '{{ url("client-admin-dashboard-set-preferences", dashboard.get_id()) }}'
            );
            {% endif %}

            reset_order_fields();
			            
			$("div.dashboard-module-content ul > li").hover(function () {
			   	$(this).addClass('hover');
			  	}, 
				function () {
			    	$(this).removeClass('hover');
			});

            $('.sortable').nestedSortable({
                listType: 'ul',
                items: 'li',
                handle: '> div',
                accept: 'inline-related',
                stop: function(event, ui) {
                    parent_item = ui.item.parent('ul').parent('li.inline-related');
                    item_parent_field = ui.item.children('div').first().find('select').filter(function() {
                        return this.id.match(/.*?-parent$/);
                    });
                    if (parent_item.html()) {
                        parent_id_field = parent_item.children('div').first().find('input').filter(function() {
                            return this.id.match(/.*?-id$/);
                        });
                        item_parent_field.val(parent_id_field.val());
                    } else {
                        item_parent_field.val(false);
                    };
                    reset_order_fields();
                },
            });

            $('#serialize').click(function(){
                serialized = $('.sortable').nestedSortable('serialize');
                $('#serializeOutput').text(serialized+'\n\n');
            })

            $('#toHierarchy').click(function(e){
                hiered = $('.sortable').nestedSortable('toHierarchy', {startDepthCount: 0});
                hiered = dump(hiered);
                (typeof($('#toHierarchyOutput')[0].textContent) != 'undefined') ?
                $('#toHierarchyOutput')[0].textContent = hiered : $('#toHierarchyOutput')[0].innerText = hiered;
            })

            $('#toArray').click(function(e){
                arraied = $('.sortable').nestedSortable('toArray', {startDepthCount: 0});
                arraied = dump(arraied);
                (typeof($('#toArrayOutput')[0].textContent) != 'undefined') ?
                $('#toArrayOutput')[0].textContent = arraied : $('#toArrayOutput')[0].innerText = arraied;
            })

            // $("div.inline-related").sortable();
            // $("div.inline-related").disableSelection();

            $('<span class="toggleswitch">Show/Hide</span>').insertBefore('div.inline-related h3 > b');
            $("div.inline-related h3 > span.toggleswitch").click(function(){
                $(this).toggleClass("hidden");
                $(this).parents("div.inline-related").children("fieldset.module.aligned").slideToggle();
            });
            $('div.inline-group.start-collapsed div.inline-related:not(".empty-form") h3 > span.toggleswitch').trigger('click');

            // $("div.inline-related h3 > span.deleteinline").click(function(){
            //     $(this).addClass("hidden");
            //     $(this).siblings("span.undo_deleteinline").removeClass("hidden");
            //     $(this).parent("h3").addClass("tobe_removed");
            //     $(this).parents("div.inline-related").children("fieldset.module.aligned").slideToggle();
            //     $(this).siblings("span.toggleswitch").addClass("tobe_removed");
            // })
            // $("div.inline-related h3 > span.undo_deleteinline").click(function(){
            //     $(this).addClass("hidden");
            //     $(this).siblings("span.deleteinline").removeClass("hidden");
            //     $(this).parent("h3").removeClass("tobe_removed");
            //     $(this).parents("div.inline-related").children("fieldset.module.aligned").slideToggle();
            //     $(this).siblings("span.toggleswitch").removeClass("tobe_removed");
            // })

            // When delete button is clicked, give the container li the class tobe_removed
            $("ul#menuitem_set-group > li.inline-related > ul > li.inline-related > div > h3 > span.delete > input[type='checkbox']").click(function(){
                $(this).siblings("label.stackedinline_delete").toggleClass("hidden");
                $(this).siblings("label.undo_stackedinline_delete").toggleClass("hidden");
                $(this).parent().parent().parent().parent().toggleClass("tobe_removed");
            })

            // Headers
            $("ul#menuitem_set-group > li.inline-related > div > h3 > span.delete > input[type='checkbox']").click(function(){
                $(this).siblings("label.undo_stackedinline_delete").toggleClass("hidden");
                $(this).parents("li.inline-related").toggleClass("tobe_removed");
                $(this).parents("li.inline-related").find("label.stackedinline_delete").toggleClass("hidden")
            })

            $("fieldset.module div.grouped input[type='checkbox']").click(function(){
                $(this).parent("span.delete").toggleClass("tobe_removed");
                $(this).parents("ul.inline-related").toggleClass("tobe_removed");
            })

            $("fieldset.module table td.delete input[type='checkbox']").click(function(){
                $(this).siblings("label.tabularinline_delete").toggleClass("hidden");
                $(this).siblings("label.undo_tabularinline_delete").toggleClass("hidden");
                $(this).parents("tr").toggleClass("tobe_removed");
            })

            $("<img src='{{STATIC_URL}}client_admin/images/missing_image.png' class='imageupload-thumbnail-hidden' />").insertBefore("div.imageupload-widget");

            $("span.clearable-file-input input[type='checkbox']").click(function(){
                $(this).siblings("label").toggleClass("hidden");
                $(this).parents("div.field_container").toggleClass("hidden");
            })


            $.fn.followTo = function ( pos ) {
                var $this = this,
                    $window = $(window);
                
                $window.scroll(function(e){
                    if ($window.scrollTop() > pos) {
                        $this.css({
                            position: 'absolute',
                            top: pos
                        });
                    } else {
                        $this.css({
                            position: 'fixed',
                            top: 0
                        });
                    }
                });
            };

            $.fn.followAt = function ( pos ) {
                var $this = this,
                    $window = $(window);
                
                $window.scroll(function(e){
                    if ($window.scrollTop() > pos) {
                        $this.css({
                            position: 'fixed',
                            top: '-5px'
                        });
                    } else {
                        $this.css({
                            position: 'relative',
                            top: 0
                        });
                    }
                });
            };

            $submitrow = $('div.submit-row');
            if ($submitrow.length > 0) {
                $('body.change-form header').followTo($submitrow.offset().top-$submitrow.height()-2);
                $('div.submit-row').followAt($submitrow.offset().top);
            }
        });
    </script>

{% endblock %}