/* line 4, ../../sass/partials/menu.sass */
header {
  height: 40px;
  border-top: 1px solid #55a6eb;
  border-bottom: 1px solid #062f53;
  background: #0f74cb;
  background-image: -webkit-linear-gradient(top, #208cea, #116bb9);
  background-image: -moz-linear-gradient(top, #208cea, #116bb9);
  background-image: -o-linear-gradient(top, #208cea, #116bb9);
  background-image: -ms-linear-gradient(top, #208cea, #116bb9);
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 0 0;
  margin-bottom: 5px;
  position: relative;
  z-index: 500;
}
/* line 17, ../../sass/partials/menu.sass */
header nav {
  width: 960px;
  margin: 0 auto;
}
/* line 20, ../../sass/partials/menu.sass */
header nav ul {
  float: right;
  border-left: 1px solid #052a49;
  border-right: 1px solid #3d95e2;
}
/* line 24, ../../sass/partials/menu.sass */
header nav ul li {
  float: left;
  height: 40px;
  line-height: 40px;
  list-style: none;
  padding: 0;
  position: relative;
}
/* line 32, ../../sass/partials/menu.sass */
header nav ul li a:link, header nav ul li a:visited {
  padding: 0 15px;
  display: block;
  border-right: 1px solid #052a49;
  border-left: 1px solid #3d95e2;
  color: #062b4a;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #3f8ed2;
}
/* line 42, ../../sass/partials/menu.sass */
header nav ul li.user-tools {
  width: 47px;
  height: 40px;
  padding: 0;
  position: relative;
}
/* line 47, ../../sass/partials/menu.sass */
header nav ul li.user-tools > a {
  text-indent: -9999px;
  padding: 0;
}
/* line 50, ../../sass/partials/menu.sass */
header nav ul li.user-tools > a:visited {
  text-indent: -9999px;
  padding: 0;
}
/* line 53, ../../sass/partials/menu.sass */
header nav ul li.user-tools span {
  height: 40px;
  width: 47px;
  display: block;
  background: url(images/icon_my_account.png) 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}
/* line 61, ../../sass/partials/menu.sass */
header nav ul li.user-tools.selected span {
  height: 40px;
  width: 47px;
  display: block;
  background: url(images/icon_my_account.png) 0 -40px no-repeat;
  text-indent: -9999px;
}
/* line 68, ../../sass/partials/menu.sass */
header nav ul li:last-child a.active span, header nav ul li:last-child a:active span {
  background-position: 0 -40px;
}
/* line 70, ../../sass/partials/menu.sass */
header nav ul li a:hover, header nav ul li:hover a {
  background: #208cea;
  background-image: -webkit-linear-gradient(top, #4da5f2, #208cea);
  background-image: -moz-linear-gradient(top, #4da5f2, #208cea);
  background-image: -o-linear-gradient(top, #4da5f2, #208cea);
  background-image: -ms-linear-gradient(top, #4da5f2, #208cea);
  text-shadow: 1px 1px 0 #79baf2;
}
/* line 77, ../../sass/partials/menu.sass */
header nav ul li a:active, header nav ul li.selected a {
  background: #0e63ac;
  background-image: -webkit-linear-gradient(top, #094981, #0e63ac);
  background-image: -moz-linear-gradient(top, #094981, #0e63ac);
  background-image: -o-linear-gradient(top, #094981, #0e63ac);
  background-image: -ms-linear-gradient(top, #094981, #0e63ac);
  color: white;
  text-shadow: 1px 1px 2px #073257;
  border-left: 1px solid transparent;
}
/* line 86, ../../sass/partials/menu.sass */
header nav ul li.disabled a {
  color: #005095;
  text-shadow: 1px 1px 0 #3f8ed2;
  border-right: 1px solid #052a49;
  border-left: 1px solid #3d95e2;
}
/* line 91, ../../sass/partials/menu.sass */
header nav ul li.disabled a:hover {
  background: transparent;
  background-image: none;
}
/* line 94, ../../sass/partials/menu.sass */
header nav ul ul {
  display: none;
  position: absolute;
  width: 150px;
  top: 40px;
  right: -1px;
  padding-top: 1px;
  background: #bfbfbf;
  z-index: 100;
  border-top: 1px solid #062f53;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d7d7d7;
  box-shadow: #535558 0 5px 10px -5px inset, #434343 0 2px 5px 0;
}
/* line 108, ../../sass/partials/menu.sass */
header nav ul ul li {
  position: relative;
  float: none;
  display: block;
  line-height: 19px;
  height: auto;
  border: 1px solid #d7d7d7;
  border-bottom: none;
}
/* line 116, ../../sass/partials/menu.sass */
header nav ul ul li:first-child {
  border-top: none;
}
/* line 119, ../../sass/partials/menu.sass */
header nav ul ul li a:link, header nav ul ul li a:visited {
  background: transparent;
  background-image: none;
  text-transform: none;
  border: none;
  color: #434343;
  padding: 10px;
  text-shadow: 1px 1px #d7d7d7;
}
/* line 127, ../../sass/partials/menu.sass */
header nav ul ul li a:hover {
  background: #cecece;
}
/* line 129, ../../sass/partials/menu.sass */
header nav ul ul li:hover a {
  background: #cecece;
}
/* line 131, ../../sass/partials/menu.sass */
header nav ul li:hover ul {
  display: block;
}
/* line 133, ../../sass/partials/menu.sass */
header nav ul ul ul, header nav ul li:hover ul ul {
  display: none;
  top: 0px;
  right: 158px;
  background: #cecece;
  box-shadow: none;
  border: none;
}
/* line 140, ../../sass/partials/menu.sass */
header nav ul ul ul li {
  border-top: 1px solid #d7d7d7;
}
/* line 142, ../../sass/partials/menu.sass */
header nav ul li:hover ul ul li:first-child {
  padding-right: 10px;
  margin: -1px -10px 0 0;
  background: #cecece;
  border: none;
}
/* line 149, ../../sass/partials/menu.sass */
header nav ul ul ul li a:link, header nav ul ul ul li a:visited {
  color: #7e7e7e;
}
/* line 151, ../../sass/partials/menu.sass */
header nav ul ul ul li a:hover {
  color: #434343;
}
/* line 153, ../../sass/partials/menu.sass */
header nav ul ul li:hover ul {
  display: block;
}
