{% load i18n %}
{% load jinja %}

{% extends_jinja "client_admin/client_admin_base.html" %}<!-- Client Admin addition -->
{# extends "admin/base.html" #}

{% block bodyclass %}{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

<!-- START Client Admin addition -->
{% block extrastyle %}{% endblock %}

{% block stylesheet_rtl %}{% endblock %}

{% block extrahead %}{% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

{# block userlinks %}{% endblock #}

{% block breadcrumbs %}{% endblock %}

{% block messages %}{%block_super%}{% endblock messages %}

{% block pretitle %}{% endblock %}

{% block content_title %}{{ title }}{% endblock %}

{% block object-tools %}{% endblock %}

{% block pre_content %}{%block_super%}{% endblock %}

{% block content %}{{ content }}{% endblock %}

{% block sidebar %}{% endblock %}

{# block scripts %}{%block_super%}{% endblock #}
    
{% block footer %}<div id="footer"></div>{% endblock %}
<!-- END Client Admin addition -->
