{% extends "client_admin/client_admin_base.html" %}

{% set title="Add multiple %s" % (verbose_name_plural.lower(),) %}

{% block bodyclass %}change-list{% endblock %}

{%block breadcrumbs%}

<div class="breadcrumbs">
<a href="{{ url('admin:index') }}">{{ _('Home') }}</a>
&rsaquo; <a href="{{ url('admin:app_list', app_label=app_label) }}">{{ app_label.title()|escape }}</a>
&rsaquo; <a href="{{ url('admin:%s_%s_changelist' % (app_label, model_name)) }}">{{ verbose_name_plural.title()|escape }}</a>
&rsaquo; Add multiple {{ verbose_name_plural.lower() }}
</div>

{%endblock%}

{% block extrastyle %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/changelists.css" />
  <style>
  #changelist table input {
        width: 98%;
  }
  body.change-list #changelist div.actions button {
    float: right;
    font-size: 16px !important;
    margin-top: 11px !important;
    padding: 4px 3px !important;
  }
  </style>
{% endblock %}

{% block content %}

<div id="content-main">

    <div class="module" id="changelist">




        <form method="POST" enctype="multipart/form-data">
        {{csrf()}}
        {{formset.management_form|safe}}

        <div class="actions">
            <button type="submit">Save</button>
        </div>

        <div class="results">

            <table id="result_list">
            <thead>
                <tr>
                    {% for field in formset.0 %}
                    <th>{{field.label}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for form in formset %}
            <tr class="row{{loop.cycle(1,2)}}">
                {%for field in form%}
                <td>{{field|safe}} {{field.errors|safe}}</td>
                {%endfor%}
            </tr>
            {% endfor %}
            </tbody>
            </table>

        </div>

        </form>

    </div>

</div>
{% endblock %}

{%block scripts%}
{{super()}}
<script src="{{STATIC_URL}}client_admin/js/jquery.csv-0.71.min.js"></script>
<script>
(function($) {

    $(function() {

        $(document).on('paste', function(e) {
            var data = e.originalEvent.clipboardData.getData('text/plain')
            csv_options = {}

            if (data.match(/\t/)) {
                //tab separated
                csv_options.separator = '\t'
            }

            rows = $.csv.toArrays(data, csv_options)
            if (rows.length < 1)
                return true;


            var i = 0;
            $('#result_list tbody tr').each(function(idx,el) {
                var row = rows[i];
                var first = $(el).find('input:first').val()
                if (row && !first) { // wait till you find an empty row

                    $(el).find('input').each(function(input_idx,input_el) {
                        var cell = row[input_idx]
                        $(input_el).val(cell)
                    })
                    i++;
                }

            })

            return false;

        })

    })

})(django.jQuery);
</script>
{% endblock %}