/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.sass */
body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #747474;
  font-size: 14px;
  line-height: 1.57143em;
}

/* line 18, ../sass/screen.sass */
h2, .h2 {
  font-size: 37px;
  line-height: 37px;
  color: #f9910c;
  font-weight: bold;
}

/* line 24, ../sass/screen.sass */
h4, .h4 {
  color: #555555;
  font-size: 19px;
  text-transform: uppercase;
  text-shadow: 1px 1px #dadada;
}

/* line 30, ../sass/screen.sass */
h4, .h4 {
  font-size: 10px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px #181818;
  display: block;
  font-weight: 500;
  padding: 0 10px;
  border-top: 2px solid #434343;
  background: #565656;
}

/* line 46, ../sass/screen.sass */
h4 a:link, h4 a:visited {
  font-size: 10px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px #181818;
  display: block;
}
/* line 52, ../sass/screen.sass */
h4 a:hover {
  color: #f79421;
}

/* line 55, ../sass/screen.sass */
a, a:link, a:visited {
  color: #747474;
  font-weight: bold;
}
/* line 58, ../sass/screen.sass */
a:hover, a:link:hover, a:visited:hover {
  color: #f9910c;
}

/* line 61, ../sass/screen.sass */
a.deletelink, a.deletelink:link, a.deletelink:visited {
  background: url(images/icon_delete.png) 0 1px no-repeat;
  padding: 0 0 0 18px;
  height: 16px;
  line-height: 8px;
  color: #747474;
  font-weight: bold;
}
/* line 68, ../sass/screen.sass */
a.deletelink:hover, a.deletelink:link:hover, a.deletelink:visited:hover {
  background-position: 0 -15px;
  color: #f9910c;
}

/* line 77, ../sass/screen.sass */
input:focus, textarea:focus {
  outline: none;
  border: 1px solid #747474 !important;
}

/* line 81, ../sass/screen.sass */
.vLargeTextField, .vXMLLargeTextField {
  width: 670px;
}

/* line 84, ../sass/screen.sass */
.inline-deletelink {
  background: url(images/icon_close_small.png) no-repeat 0 0;
  height: 14px;
  width: 15px;
  display: block;
  text-indent: -9999px;
  margin-top: 2px;
}
/* line 91, ../sass/screen.sass */
.inline-deletelink:hover {
  background-position: 0 -14px;
}

/* line 94, ../sass/screen.sass */
.selector-add, .active.selector-add {
  background: url(images/button_action_submit.png) no-repeat 0 0;
  cursor: pointer;
}

/* line 98, ../sass/screen.sass */
.selector-remove, .active.selector-remove {
  background: url(images/selector_remove.png) no-repeat 0 0;
  cursor: pointer;
}

/* line 102, ../sass/screen.sass */
.selector-add:hover, .selector-remove:hover {
  background-position: 0 -16px;
}

/* line 109, ../sass/screen.sass */
.errornote {
  font-size: 12px !important;
  display: block;
  padding: 4px 5px 4px 25px !important;
  border: 2px solid #970000;
  color: white;
  background-color: red !important;
  border-radius: 5px;
  margin: 10px 0;
}

/* line 119, ../sass/screen.sass */
.login .errornote {
  width: 33%;
  margin: 0 auto;
}

/* line 123, ../sass/screen.sass */
.errorlist li {
  font-size: 12px !important;
  display: block;
  padding: 4px 5px 4px 25px !important;
  margin: 0 0 5px 0;
  border: 2px solid #970000;
  color: white;
  background-color: red !important;
  border-radius: 5px;
  width: 33%;
}

/* line 134, ../sass/screen.sass */
.form-row.errors {
  background-color: #ffe6e6;
  border-top: 1px solid #970000;
  border-bottom: 1px solid #970000;
}

/* line 144, ../sass/screen.sass */
.login header {
  display: none;
}
/* line 146, ../sass/screen.sass */
.login #admin_content {
  background: transparent;
  overflow: hidden;
  *zoom: 1;
}
/* line 149, ../sass/screen.sass */
.login #page_header {
  text-align: center;
}
/* line 151, ../sass/screen.sass */
.login h2.logo {
  background: url(images/login_logo.png) no-repeat 50% 0;
  text-indent: -9999px;
  margin: 0 auto;
  width: 200px;
  height: 140px;
  float: none;
}

/* line 159, ../sass/screen.sass */
#login-form {
  margin: 25px auto;
  padding: 15px;
  background: #116bb9;
  width: 33%;
  border-radius: 5px;
}

/* line 168, ../sass/screen.sass */
.login .form-row label {
  width: 30%;
  text-align: left;
  color: white !important;
}
/* line 172, ../sass/screen.sass */
.login .form-row #id_username, .login .form-row #id_password {
  width: 65%;
  border: 1px solid #555555;
}
/* line 175, ../sass/screen.sass */
.login #login-form .submit-row {
  background: none;
  box-shadow: none;
  border: none;
  padding: 0 0 10px 0;
}
/* line 180, ../sass/screen.sass */
.login #login-form .submit-row input[type="submit"] {
  display: block;
  margin: 5px 0 0 0;
  height: 28px;
  line-height: 28px;
  border: 1px solid #92642f;
  border-radius: 15px;
  padding: 0 13px;
  color: white;
  text-shadow: -1px -1px #92642f;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  background: #ed8d1f;
  background-image: -webkit-linear-gradient(top, #ed8d1f, #d67709);
  background-image: -moz-linear-gradient(top, #ed8d1f, #d67709);
  background-image: -o-linear-gradient(top, #ed8d1f, #d67709);
  background-image: -ms-linear-gradient(top, #ed8d1f, #d67709);
  box-shadow: #f2a954 0 1px 0 0 inset;
}
/* line 199, ../sass/screen.sass */
.login #login-form .submit-row input[type="submit"]:hover {
  background: #208cea;
  background-image: -webkit-linear-gradient(top, #f6a03b, #dd7f13);
  background-image: -moz-linear-gradient(top, #f6a03b, #dd7f13);
  background-image: -o-linear-gradient(top, #f6a03b, #dd7f13);
  background-image: -ms-linear-gradient(top, #f6a03b, #dd7f13);
}
/* line 205, ../sass/screen.sass */
.login #login-form .submit-row input[type="submit"]:active {
  background: #d67709;
  background-image: -webkit-linear-gradient(top, #d67709, #ed8d1f);
  background-image: -moz-linear-gradient(top, #d67709, #ed8d1f);
  background-image: -o-linear-gradient(top, #d67709, #ed8d1f);
  background-image: -ms-linear-gradient(top, #d67709, #ed8d1f);
}
/* line 211, ../sass/screen.sass */
.login footer {
  border: none;
  box-shadow: none;
}

/* line 219, ../sass/screen.sass */
header {
  height: 59px;
  width: 100%;
  border-top: 1px solid #393939;
  background: #272727;
  position: relative;
  z-index: 500;
  position: fixed;
  margin-top: -60px;
}
/* line 228, ../sass/screen.sass */
header nav {
  overflow: hidden;
  *zoom: 1;
  width: 960px;
  margin: 0 auto;
  overflow: visible;
}
/* line 237, ../sass/screen.sass */
header nav a#client_logo {
  display: block;
  height: 59px;
  width: 400px;
  margin-top: 9px;
  float: left;
}
/* line 247, ../sass/screen.sass */
header nav ul {
  overflow: hidden;
  *zoom: 1;
  float: right;
  overflow: visible;
}
/* line 251, ../sass/screen.sass */
header nav ul li {
  float: left;
  list-style: none;
  position: relative;
}
/* line 255, ../sass/screen.sass */
header nav ul li a, header nav ul li a:link, header nav ul li a:visited {
  display: block;
  height: 59px;
  line-height: 59px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
}
/* line 264, ../sass/screen.sass */
header nav ul li a:hover, header nav ul li:hover a {
  color: #f9910c;
}
/* line 266, ../sass/screen.sass */
header nav ul li a:active, header nav ul li.selected a {
  color: #f9910c;
}
/* line 272, ../sass/screen.sass */
header nav ul li.user-tools {
  width: 47px;
  height: 59px;
  padding: 0;
  position: relative;
}
/* line 277, ../sass/screen.sass */
header nav ul li.user-tools a, header nav ul li.user-tools:visited {
  text-indent: -9999px;
  padding: 0;
}
/* line 280, ../sass/screen.sass */
header nav ul li.user-tools a span.icon, header nav ul li.user-tools:visited span.icon {
  height: 59px;
  width: 47px;
  display: block;
  background: url(images/icon_my_account.png) center 9px no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}
/* line 288, ../sass/screen.sass */
header nav ul li.user-tools:hover span.icon, header nav ul li.user-tools a:hover span.icon, header nav ul li.user-tools a.selected span.icon {
  background: url(images/icon_my_account.png) 0 -30px no-repeat;
}
/* line 294, ../sass/screen.sass */
header nav ul li ul {
  background: red;
  display: none;
  position: absolute;
  width: 150px;
  top: 54px;
  right: -1px;
  background: #bfbfbf;
  z-index: 100;
  box-shadow: #434343 0 2px 5px 0;
  padding-top: 5px;
}
/* line 305, ../sass/screen.sass */
header nav ul li ul:before {
  content: "";
  position: absolute;
  right: 8px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid #bfbfbf;
}
/* line 315, ../sass/screen.sass */
header nav ul li:hover ul {
  display: block;
}
/* line 317, ../sass/screen.sass */
header nav ul li:hover ul li {
  position: relative;
  float: none;
  display: block;
  border-bottom: 1px solid #efefef;
  margin: 0;
  padding: 0;
}
/* line 324, ../sass/screen.sass */
header nav ul li:hover ul li:last-child {
  border-bottom: none;
}
/* line 326, ../sass/screen.sass */
header nav ul li:hover ul li a, header nav ul li:hover ul li a:link, header nav ul li:hover ul li a:visited {
  line-height: 19px;
  height: auto;
  padding: 10px;
  font-size: 12px;
  color: #272727;
  text-transform: capitalize;
  text-indent: 0;
}
/* line 334, ../sass/screen.sass */
header nav ul li:hover ul li a:hover, header nav ul li:hover ul li a:active, header nav ul li:hover ul li a:link:hover, header nav ul li:hover ul li a:link:active, header nav ul li:hover ul li a:visited:hover, header nav ul li:hover ul li a:visited:active {
  background: #efefef;
}
/* line 340, ../sass/screen.sass */
header nav ul li:hover ul li ul {
  display: none;
  position: absolute;
  top: 0px;
  left: -158px;
  background: #9a9999;
  box-shadow: none;
  padding-top: 0px;
  overflow: visible;
  z-index: 500;
  box-shadow: #434343 0 2px 5px 0;
}
/* line 351, ../sass/screen.sass */
header nav ul li:hover ul li ul:before {
  content: "";
  position: absolute;
  right: -30px;
  top: 0px;
  width: 0;
  height: 0;
  border-left: 18px solid #9a9999;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}
/* line 361, ../sass/screen.sass */
header nav ul li:hover ul li ul li {
  border-bottom: 1px solid #bfbfbf;
}
/* line 363, ../sass/screen.sass */
header nav ul li:hover ul li ul li a, header nav ul li:hover ul li ul li a:link, header nav ul li:hover ul li ul li a:visited {
  color: #555555;
}
/* line 365, ../sass/screen.sass */
header nav ul li:hover ul li ul li a:hover, header nav ul li:hover ul li ul li a:active, header nav ul li:hover ul li ul li a:link:hover, header nav ul li:hover ul li ul li a:link:active, header nav ul li:hover ul li ul li a:visited:hover, header nav ul li:hover ul li ul li a:visited:active {
  background: transparent;
  color: #272727;
}
/* line 368, ../sass/screen.sass */
header nav ul li:hover ul li:hover ul {
  display: block;
}

/* line 375, ../sass/screen.sass */
#content_container {
  width: 960px;
  margin: 60px auto 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 380, ../sass/screen.sass */
.popup #content_container {
  width: 700px;
  overflow: hidden;
  *zoom: 1;
}

/* line 388, ../sass/screen.sass */
#page_header {
  overflow: hidden;
  *zoom: 1;
  width: 960px;
  min-height: 60px;
  overflow: visible;
  margin: 20px 0 40px;
  position: relative;
  z-index: 100;
}
/* line 396, ../sass/screen.sass */
#page_header h2 {
  float: left;
  margin-right: 10px;
}
/* line 403, ../sass/screen.sass */
#page_header #bookmark-form {
  float: left;
  margin-top: 16px;
}
/* line 406, ../sass/screen.sass */
#page_header #bookmark-form #bookmark-button {
  border: none;
  padding-left: 16px;
  line-height: 0;
  height: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #747474;
  font-size: 14px;
  text-transform: lowercase;
  background: url(images/icon_favorite.png) no-repeat 0 0;
}
/* line 417, ../sass/screen.sass */
#page_header #bookmark-form #bookmark-button:hover {
  color: #f9910c;
  background-position: 0 -13px;
}
/* line 420, ../sass/screen.sass */
#page_header #bookmark-form #bookmark-button.bookmarked {
  color: #747474;
  background-position: 0 -13px;
}
/* line 427, ../sass/screen.sass */
#page_header div.breadcrumbs {
  font-size: 14px;
  color: #b4b4b4;
  border-top: none;
  border-bottom: none;
  background: none;
  padding: 5px 0 0 0;
  margin-bottom: -10px;
  clear: both;
}
/* line 436, ../sass/screen.sass */
#page_header div.breadcrumbs a, #page_header div.breadcrumbs a:link, #page_header div.breadcrumbs a:visited {
  color: #b4b4b4;
}
/* line 438, ../sass/screen.sass */
#page_header div.breadcrumbs a:hover, #page_header div.breadcrumbs a:active, #page_header div.breadcrumbs a:link:hover, #page_header div.breadcrumbs a:link:active, #page_header div.breadcrumbs a:visited:hover, #page_header div.breadcrumbs a:visited:active {
  color: #747474;
}

/* line 444, ../sass/screen.sass */
.dashboard #page_header {
  overflow: hidden;
}

/* line 446, ../sass/screen.sass */
.popup #page_header {
  width: 700px;
  overflow: hidden;
  *zoom: 1;
}

/* line 454, ../sass/screen.sass */
#admin_content {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  width: 960px;
  background: transparent;
  margin-top: -57px;
  padding: 50px 0 0 0;
}

/* line 465, ../sass/screen.sass */
#admin_content > p, #admin_content > ul, #admin_content > ol, #admin_content > form {
  padding: 15px;
}
/* line 467, ../sass/screen.sass */
#admin_content > ul li, #admin_content > ol li {
  margin-left: 15px;
}
/* line 473, ../sass/screen.sass */
#admin_content ul.object-tools {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  float: none;
  z-index: 200;
}
/* line 481, ../sass/screen.sass */
#admin_content ul.object-tools li {
  background: none;
  height: 14px;
  line-height: 14px;
  margin: 0;
}
/* line 486, ../sass/screen.sass */
#admin_content ul.object-tools li:first-child {
  border-right: 2px solid #747474;
}
/* line 488, ../sass/screen.sass */
#admin_content ul.object-tools li:last-child {
  border: none;
}
/* line 494, ../sass/screen.sass */
#admin_content ul.object-tools li a, #admin_content ul.object-tools li a:link, #admin_content ul.object-tools li a:visited {
  background: none;
  display: block;
  color: #747474;
  font-size: 14px;
  font-weight: bold;
  background-position: 0 0;
  padding: 0 10px 0 18px;
}
/* line 502, ../sass/screen.sass */
#admin_content ul.object-tools li a.historylink, #admin_content ul.object-tools li a:link.historylink, #admin_content ul.object-tools li a:visited.historylink {
  background: url(images/icon_history.png) no-repeat;
}
/* line 504, ../sass/screen.sass */
#admin_content ul.object-tools li a.viewsitelink, #admin_content ul.object-tools li a:link.viewsitelink, #admin_content ul.object-tools li a:visited.viewsitelink {
  background: url(images/icon_view_onsite.png) no-repeat;
  padding-left: 20px;
}
/* line 507, ../sass/screen.sass */
#admin_content ul.object-tools li a:hover, #admin_content ul.object-tools li a:link:hover, #admin_content ul.object-tools li a:visited:hover {
  background-position: 0 -14px;
  color: #f9910c;
}
/* line 514, ../sass/screen.sass */
#admin_content ul.object-tools ul {
  display: none;
  position: absolute;
  z-index: 90;
  top: 42px;
  right: 0;
  width: 100%;
  padding-top: 1px;
  margin-top: -1px;
  background: #bfbfbf;
  border-top: 1px solid #185488;
  box-shadow: #535558 0 5px 10px -5px inset, #434343 0 2px 5px 0;
}
/* line 526, ../sass/screen.sass */
#admin_content ul.object-tools ul:before {
  content: "";
  position: absolute;
  left: 20%;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #185488;
}
/* line 536, ../sass/screen.sass */
#admin_content ul.object-tools ul li {
  border: none;
  background: none;
  width: 90%;
  height: 25px;
  line-height: 40px;
  padding: 5px 5%;
  text-align: left;
  margin: 0;
  border: 1px solid #d7d7d7;
  border-top: none;
}
/* line 548, ../sass/screen.sass */
#admin_content ul.object-tools ul li a:link, #admin_content ul.object-tools ul li a:visited {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0;
  color: #434343;
  text-shadow: 1px 1px #d7d7d7;
}
/* line 560, ../sass/screen.sass */
#admin_content ul.object-tools ul li a:hover, #admin_content ul.object-tools ul li a:active {
  color: #116bb9;
}
/* line 562, ../sass/screen.sass */
#admin_content ul.object-tools li:hover ul {
  display: block;
}

/* line 568, ../sass/screen.sass */
.popup #admin_content {
  width: 700px;
  overflow: hidden;
  *zoom: 1;
}

/* line 581, ../sass/screen.sass */
div.dashboard-column {
  padding-bottom: 15px;
}
/* line 583, ../sass/screen.sass */
div.dashboard-column:first-child {
  width: 66% !important;
}
/* line 585, ../sass/screen.sass */
div.dashboard-column:last-child {
  width: 34% !important;
}
/* line 587, ../sass/screen.sass */
div.dashboard-column:first-child div.dashboard-placeholder {
  margin: 0 13px 20px 0;
}
/* line 589, ../sass/screen.sass */
div.dashboard-column:last-child div.dashboard-placeholder {
  margin: 0 13px 20px 12px;
}
/* line 591, ../sass/screen.sass */
div.dashboard-placeholder {
  border: 1px dashed #f79421;
  border-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  background-color: rgba(247, 148, 33, 0.2);
  margin: 0 0 20px 0;
}
/* line 601, ../sass/screen.sass */
div.dashboard-column:first-child div.dashboard-module {
  margin-right: 13px;
}
/* line 603, ../sass/screen.sass */
div.dashboard-column:last-child div.dashboard-module {
  margin-left: 12px;
}
/* line 605, ../sass/screen.sass */
div.dashboard-module {
  margin-bottom: 20px;
}
/* line 607, ../sass/screen.sass */
div.dashboard-module h4 {
  font-size: 19px;
  line-height: 36px;
  height: 36px;
  display: block;
  cursor: move;
  padding: 0 10px;
  position: relative;
  border: 1px solid #7b7b7b;
  border-bottom: 1px solid #555657;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  background: #bdbdbd;
  box-shadow: 0 1px 0 0 #ebebeb inset;
  background-image: -webkit-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -moz-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -o-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -ms-linear-gradient(top, #c8c8c8, #afafaf);
}
/* line 630, ../sass/screen.sass */
div.dashboard-module h4 a.close-icon {
  background: url(images/icon_close.png) no-repeat 0 0;
  height: 20px;
  width: 20px;
  text-indent: -9999px;
  position: absolute;
  top: 9px;
  right: 10px;
}
/* line 638, ../sass/screen.sass */
div.dashboard-module h4 a.close-icon:hover {
  background-position: 0 -20px;
}
/* line 640, ../sass/screen.sass */
div.dashboard-module h4 a.toggle-icon {
  background: url(images/icon_toggle.png) 0 -22px no-repeat;
  position: absolute;
  top: 8px;
  right: 40px;
  text-indent: -9999px;
  height: 22px;
  width: 56px;
}
/* line 648, ../sass/screen.sass */
div.dashboard-module h4 a.toggle-icon:hover {
  background-position: 0 -66px;
}
/* line 650, ../sass/screen.sass */
div.dashboard-module h4 a.toggle-icon.collapsed {
  background-position: 0 0;
}
/* line 652, ../sass/screen.sass */
div.dashboard-module h4 a.toggle-icon.collapsed:hover {
  background-position: 0 -44px;
}
/* line 654, ../sass/screen.sass */
div.dashboard-module-content {
  border: 1px solid #c5c5c5;
  border-top: 1px solid #555657;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}
/* line 661, ../sass/screen.sass */
div.dashboard-module-content h4 {
  margin: 0 -1px 0 -1px;
  height: 20px;
  line-height: 20px;
}
/* line 665, ../sass/screen.sass */
div.dashboard-module-content h4:first-child {
  margin-top: -2px;
}
/* line 667, ../sass/screen.sass */
div.dashboard-module-content li {
  line-height: 19px;
  border-bottom: 1px solid #c5c5c5;
  padding: 7px 10px 7px 10px;
  list-style: none;
  position: relative;
}
/* line 673, ../sass/screen.sass */
div.dashboard-module-content li:last-child {
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}
/* line 678, ../sass/screen.sass */
div.dashboard-module-content li:nth-child(even) {
  background: #f6f6f6;
}
/* line 680, ../sass/screen.sass */
div.dashboard-module-content li span.date_time {
  color: #b0b0b0;
  float: right;
  margin-left: 15px;
}
/* line 684, ../sass/screen.sass */
div.dashboard-module-content li:last-child {
  border-bottom: none;
}
/* line 686, ../sass/screen.sass */
div.dashboard-module-content span.changelink, div.dashboard-module-content a.changelink {
  background: url(images/icon_edit.png) 0 0 no-repeat;
  padding-left: 18px;
}
/* line 689, ../sass/screen.sass */
div.dashboard-module-content span.addlink, div.dashboard-module-content a.addlink {
  background: url(images/icon_add.png) 0 0 no-repeat;
  padding-left: 18px;
}
/* line 692, ../sass/screen.sass */
div.dashboard-module-content span.listlink, div.dashboard-module-content a.listlink {
  background: url(images/icon_list.png) 0 0 no-repeat;
  padding-left: 18px;
}
/* line 695, ../sass/screen.sass */
div.dashboard-module-content span.deletelink, div.dashboard-module-content a.deletelink {
  padding-left: 18px;
}
/* line 697, ../sass/screen.sass */
div.dashboard-module-content li span.object_type {
  color: #565656;
  background-position: 0 -28px;
  opacity: 0.25;
  font-style: italic;
}
/* line 702, ../sass/screen.sass */
div.dashboard-module-content div:hover span.object_type, div.dashboard-module-content li:hover span.object_type {
  opacity: 1;
}
/* line 704, ../sass/screen.sass */
div.dashboard-module-content ul.list-options {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 715, ../sass/screen.sass */
div.dashboard-module-content li:hover ul.list-options {
  display: block;
}

/* line 719, ../sass/screen.sass */
div.dashboard-module-content ul.list-options li {
  float: left;
  height: 30px;
  border: none;
  margin: 0;
  padding: 7px 12px 0 0;
}
/* line 725, ../sass/screen.sass */
div.dashboard-module-content ul.list-options li:nth-child(even) {
  background: transparent;
}
/* line 728, ../sass/screen.sass */
div.dashboard-module-content ul.list-options li a:link, div.dashboard-module-content ul.list-options li a:visited {
  color: #565656;
  background-position: 0 -28px;
  opacity: 0.15;
}
/* line 732, ../sass/screen.sass */
div.dashboard-module-content div:hover ul.list-options li a:link {
  opacity: 1;
}
/* line 734, ../sass/screen.sass */
div.dashboard-module-content li:hover ul.list-options li a:hover, div.dashboard-module-content ul.list-options li a:hover {
  color: #f79421;
  background-position: 0 0;
  opacity: 1;
}

/* line 743, ../sass/screen.sass */
#module_1 ul li.first {
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px #181818;
  display: block;
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  border-top: 2px solid #434343;
  background: #565656;
  margin: -2px -1px 0 -1px;
}
/* line 755, ../sass/screen.sass */
#module_1 ul li.first span.object_type {
  display: none;
}
/* line 758, ../sass/screen.sass */
#module_1 ul li.first a:link, #module_1 ul li.first a:visited {
  color: white;
}
/* line 760, ../sass/screen.sass */
#module_1 ul li.first a:hover {
  color: #f79421;
}
/* line 763, ../sass/screen.sass */
#module_1 li ul.list-options li {
  padding: 7px 10px 0 0;
}
/* line 766, ../sass/screen.sass */
#module_1 li.first ul.list-options li {
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  padding: 0;
  background: none;
}
/* line 773, ../sass/screen.sass */
#module_1 li.first ul.list-options li a:link, #module_1 li.first ul.list-options li a:visited {
  color: white;
  background-position: 0 -42px;
  opacity: 0.15;
  text-shadow: none;
  padding-left: 18px;
}
/* line 780, ../sass/screen.sass */
#module_1 li.first:hover ul.list-options li a:link {
  opacity: 1;
}
/* line 782, ../sass/screen.sass */
#module_1 li.first:hover ul.list-options li a:hover {
  color: #f79421;
  background-position: 0 0;
}
/* line 785, ../sass/screen.sass */
#module_1 li.first ul.list-options li a:hover {
  color: #f79421;
  background-position: 0 0;
}
/* line 789, ../sass/screen.sass */
#module_1 ul li {
  padding: 0px 10px;
  margin: 0;
}
/* line 792, ../sass/screen.sass */
#module_1 ul li div {
  padding: 7px 0px;
  margin: 0;
}
/* line 795, ../sass/screen.sass */
#module_1 ul ul.children {
  margin: 0;
}
/* line 797, ../sass/screen.sass */
#module_1 ul ul.children > li {
  padding: 0 10px 0 4%;
  width: 96%;
  background: url(images/icon_nested_arrow.png) left top no-repeat;
  border-top: 1px dashed #c5c5c5;
  border-bottom: none;
}

/* line 807, ../sass/screen.sass */
#module_4 h4 {
  cursor: default;
}

/* line 810, ../sass/screen.sass */
li.ui-sortable-placeholder {
  border: 1px dashed #f79421 !important;
  border-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  background-color: rgba(247, 148, 33, 0.2) !important;
  margin: 0 0 20px 0;
  visibility: visible !important;
}

/* line 824, ../sass/screen.sass */
#dashboard .activity ul li.activity-types {
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px #181818;
  display: block;
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  border-top: 2px solid #434343;
  background: #565656;
  margin: -2px -1px 0 -1px;
}
/* line 836, ../sass/screen.sass */
#dashboard .activity ul li.activity-types span.object_type {
  display: none;
}
/* line 838, ../sass/screen.sass */
#dashboard .activity ul li.activity-types a {
  padding-right: 2em;
}
/* line 840, ../sass/screen.sass */
#dashboard .activity ul li.activity-types a:link, #dashboard .activity ul li.activity-types a:visited {
  color: white;
  position: relative;
  display: block;
  float: left;
}
/* line 845, ../sass/screen.sass */
#dashboard .activity ul li.activity-types a.active, #dashboard .activity ul li.activity-types a:hover {
  color: #f79421;
}
/* line 847, ../sass/screen.sass */
#dashboard .activity ul li.activity-types a.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #f6f6f6;
}

/* line 862, ../sass/screen.sass */
.change-list .filtered {
  background: url(images/filter_bg.png) white right repeat-y !important;
}
/* line 864, ../sass/screen.sass */
.change-list .filtered .paginator {
  border-right: none;
  border-bottom: none;
}

/* line 868, ../sass/screen.sass */
#changelist {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border: none;
  margin-bottom: 0;
}
/* line 877, ../sass/screen.sass */
#changelist #toolbar {
  padding: 6px 10px 0 0;
  width: 152px !important;
  height: 30px;
  position: absolute;
  margin-right: 0 !important;
  right: 0px;
  top: 0;
  z-index: 100;
  border: 1px solid #7b7b7b;
  border-bottom: 1px solid #555657;
  border-left: none;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  box-shadow: 0 1px 0 0 #ebebeb inset;
  background: #bdbdbd;
  background-image: -webkit-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -moz-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -o-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -ms-linear-gradient(top, #c8c8c8, #afafaf);
}
/* line 898, ../sass/screen.sass */
#changelist #toolbar label {
  display: none;
}
/* line 901, ../sass/screen.sass */
#changelist #toolbar form #searchbar {
  position: relative;
  height: 23px;
  border: none;
  padding: 0 25px 0 5px;
  width: 128px;
  border-radius: 15px;
  box-shadow: 0 1px 0 0 #ebebeb;
  background: #48494b;
  background-image: -webkit-linear-gradient(top, #48494b, #7e7e7e);
  background-image: -moz-linear-gradient(top, #48494b, #7e7e7e);
  background-image: -o-linear-gradient(top, #48494b, #7e7e7e);
  background-image: -ms-linear-gradient(top, #48494b, #7e7e7e);
  color: white;
}
/* line 915, ../sass/screen.sass */
#changelist #toolbar form #searchbar:focus {
  outline: none;
}
/* line 917, ../sass/screen.sass */
#changelist #toolbar form input[type="submit"] {
  background: url(images/icon_search.png) no-repeat;
  height: 14px;
  width: 13px;
  border: none;
  position: absolute;
  top: 11px;
  right: 10px;
  text-indent: -9999px;
}
/* line 926, ../sass/screen.sass */
#changelist #toolbar form span.small {
  position: absolute;
  top: 10px;
  right: 170px;
  width: 160px;
  color: #555555 !important;
  text-transform: uppercase;
  text-align: right;
  text-shadow: 1px 1px #ebebeb;
  font-size: 10px;
}
/* line 936, ../sass/screen.sass */
#changelist div.actions {
  font-size: 19px;
  line-height: 36px;
  height: 36px;
  display: block;
  padding: 0 10px 0 2px;
  position: relative;
  border: 1px solid #7b7b7b;
  border-bottom: 1px solid #555657;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  box-shadow: 0 1px 0 0 #ebebeb inset;
  background: #bdbdbd;
  background-image: -webkit-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -moz-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -o-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -ms-linear-gradient(top, #c8c8c8, #afafaf);
  margin-right: 0 !important;
}
/* line 958, ../sass/screen.sass */
#changelist div.actions label {
  position: absolute;
  text-transform: uppercase;
  font-size: 10px;
  text-shadow: 1px 1px #ebebeb;
  color: #505050;
}
/* line 964, ../sass/screen.sass */
#changelist div.actions label select {
  width: 145px;
}
/* line 966, ../sass/screen.sass */
#changelist div.actions button {
  margin: 9px 0 0 210px;
  height: 16px;
  width: 16px;
  background: url(images/button_action_submit.png) 0 0 no-repeat transparent;
  text-indent: -9999px;
  border: none;
}
/* line 973, ../sass/screen.sass */
#changelist div.actions button:hover {
  background-position: 0 -16px;
}
/* line 975, ../sass/screen.sass */
#changelist div.actions span.action-counter {
  color: #0f74cc;
  text-transform: uppercase;
  font-size: 10px;
}

/* line 989, ../sass/screen.sass */
.change-list .filtered table#result_list {
  border-right: none;
  border-bottom: 1px solid #dfdfdf;
}

/* line 993, ../sass/screen.sass */
#changelist #changelist-form table thead, #change-history thead {
  border-bottom: none;
}

/* line 996, ../sass/screen.sass */
#changelist #changelist-form table thead th, #change-history thead th {
  border: 1px solid #434343;
  border-top: 2px solid #434343;
  border-bottom: none;
  height: 21px;
  padding: 0 7px 2px 7px;
  vertical-align: middle;
  color: white;
  background: #565656;
  background-image: -webkit-linear-gradient(top, #565656, #606060);
  background-image: -moz-linear-gradient(top, #565656, #606060);
  background-image: -o-linear-gradient(top, #565656, #606060);
  background-image: -ms-linear-gradient(top, #565656, #606060);
}

/* line 1011, ../sass/screen.sass */
#changelist #changelist-form table thead th a {
  color: white;
}
/* line 1013, ../sass/screen.sass */
#changelist #changelist-form table thead th.sorted {
  background: #353535;
  background-image: -webkit-linear-gradient(top, #353535, #565656);
  background-image: -moz-linear-gradient(top, #353535, #565656);
  background-image: -o-linear-gradient(top, #353535, #565656);
  background-image: -ms-linear-gradient(top, #353535, #565656);
}
/* line 1019, ../sass/screen.sass */
#changelist #changelist-form table thead th.sorted a {
  text-shadow: 1px 1px black;
  height: 15px;
}

/* line 1024, ../sass/screen.sass */
table thead th.sorted .sortoptions a.ascending {
  background: url(images/icon_sort_asc.png) center right no-repeat;
}
/* line 1026, ../sass/screen.sass */
table thead th.sorted .sortoptions a.ascending:hover {
  background: url(images/icon_sort_asc.png) center right no-repeat;
}
/* line 1028, ../sass/screen.sass */
table thead th.sorted .sortoptions a.descending {
  background: url(images/icon_sort_desc.png) center right no-repeat;
}
/* line 1030, ../sass/screen.sass */
table thead th.sorted .sortoptions a.descending:hover {
  background: url(images/icon_sort_desc.png) center right no-repeat;
}
/* line 1032, ../sass/screen.sass */
table thead th.sorted .sortoptions a.sortremove {
  background: url(images/icon_close_small.png) no-repeat;
  height: 15px;
}
/* line 1035, ../sass/screen.sass */
table thead th.sorted .sortoptions a.sortremove:hover {
  background: url(images/icon_close_small.png) no-repeat;
  height: 15px;
}

/* line 1040, ../sass/screen.sass */
#changelist #changelist-form table tbody tr {
  border-bottom: 1px solid #dfdfdf;
}
/* line 1042, ../sass/screen.sass */
#changelist #changelist-form table tbody tr.row1 {
  background: #f3f3f3;
}
/* line 1044, ../sass/screen.sass */
#changelist #changelist-form table tbody td, #changelist #changelist-form table tbody th {
  padding: 7px;
  border: 1px solid #dfdfdf;
  border-bottom: none;
}
/* line 1048, ../sass/screen.sass */
#changelist #changelist-form table tbody td:last-child {
  border-right: none;
}

/* line 1051, ../sass/screen.sass */
#content-main .module table#change-history {
  border: none;
}
/* line 1053, ../sass/screen.sass */
#content-main .module table#change-history tr:last-child {
  border-bottom: none;
}

/* line 1059, ../sass/screen.sass */
#changelist #changelist-form p.paginator {
  border: none;
  background: transparent;
}

/* line 1067, ../sass/screen.sass */
#changelist:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
/* line 1073, ../sass/screen.sass */
#changelist #changelist-filter {
  border-left: none;
  background: none;
  z-index: 50 !important;
  float: right;
  position: relative;
  display: block;
  padding-bottom: 10px;
}
/* line 1081, ../sass/screen.sass */
#changelist #changelist-filter h2 {
  background: none;
  font-size: 19px;
  margin-left: 5px;
  color: #555555;
  border: none;
  height: auto !important;
  text-transform: uppercase;
}
/* line 1090, ../sass/screen.sass */
#changelist #changelist-filter li.selected {
  border-left: 5px solid #f79421;
}
/* line 1092, ../sass/screen.sass */
#changelist #changelist-filter li.selected a {
  color: #116bb9 !important;
}
/* line 1094, ../sass/screen.sass */
#changelist #changelist-filter li.selected a:hover {
  color: #278adf;
}
/* line 1096, ../sass/screen.sass */
#changelist #changelist-filter li a:hover {
  color: #278adf;
}

/* line 1106, ../sass/screen.sass */
.button.default, input[type="submit"].default {
  width: 200px;
  color: white;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 40px;
  border: none;
  border-top: 2px solid #024f84;
  margin: -2px 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  float: none;
  background: url(images/icon_favorite.png) 0 0 no-repeat #006fbb;
  cursor: pointer;
}
/* line 1108, ../sass/screen.sass */
.button.default:hover, input[type="submit"].default:hover {
  background: url(images/icon_favorite.png) 0 -16px #024f84 no-repeat;
  color: white;
}

/* line 1115, ../sass/screen.sass */
.submit-row {
  overflow: hidden;
  *zoom: 1;
  background: #e1e1e1;
  border: none;
  border-top: 2px solid #cdcdcd;
  height: 38px;
  width: 940px;
  line-height: 38px;
  display: block;
  margin-bottom: 0;
  padding: 0 10px;
  position: relative;
  overflow: visible;
}
/* line 1117, ../sass/screen.sass */
.submit-row input[name="_addanother"] {
  height: 16px;
  line-height: 8px;
  padding: 0 0 0 18px;
  background: url(images/icon_save_add.png) no-repeat;
  background-position: 0 0px;
  color: #747474;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  float: left;
  display: block;
  cursor: pointer;
  margin: 10px 16px 0 0;
  border: none;
}
/* line 1119, ../sass/screen.sass */
.submit-row input[name="_continue"] {
  height: 16px;
  line-height: 8px;
  padding: 0 0 0 18px;
  background: url(images/icon_save_edit.png) no-repeat;
  background-position: 0 0px;
  color: #747474;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  float: left;
  display: block;
  cursor: pointer;
  margin: 10px 16px 0 0;
  border: none;
}
/* line 1121, ../sass/screen.sass */
.submit-row input:hover, .submit-row input:active {
  background-position: 0 -16px;
  color: #f9910c;
}
/* line 1124, ../sass/screen.sass */
.submit-row p.deletelink-box {
  margin: -1px 16px 0 0;
}

/* line 1130, ../sass/screen.sass */
fieldset.module {
  border: none;
  margin: 5px 0;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
/* line 1135, ../sass/screen.sass */
fieldset.module h2 {
  font-size: 23px;
  color: #747474;
  background: transparent;
  border-top: 2px solid #cdcdcd;
}
/* line 1141, ../sass/screen.sass */
fieldset.module .form-row {
  padding: 10px 25px;
  border: none;
}
/* line 1144, ../sass/screen.sass */
fieldset.module .form-row:first-child {
  margin-top: 20px;
}
/* line 1146, ../sass/screen.sass */
fieldset.module .form-row label {
  font-size: 14px;
  padding: 0;
  width: 120px;
  margin-right: 20px;
  text-align: right;
  color: #006fbb !important;
}
/* line 1148, ../sass/screen.sass */
fieldset.module .form-row input {
  height: 36px;
  background: #f6f6f6;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: 0 2px 0 #e6e6e6 inset;
  -moz-box-shadow: 0 2px 0 #e6e6e6 inset;
  box-shadow: 0 2px 0 #e6e6e6 inset;
  padding: 3px 10px;
  color: #747474;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 1150, ../sass/screen.sass */
fieldset.module .form-row textarea {
  background: #f6f6f6;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: 0 2px 0 #e6e6e6 inset;
  -moz-box-shadow: 0 2px 0 #e6e6e6 inset;
  box-shadow: 0 2px 0 #e6e6e6 inset;
  padding: 10px;
  color: #747474;
  font-size: 14px;
  line-height: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 150px;
}

/* line 1164, ../sass/screen.sass */
form .aligned p.help {
  padding-left: 28px;
}

/* line 1170, ../sass/screen.sass */
.inline-group {
  margin: 0 0 5px 0;
}
/* line 1172, ../sass/screen.sass */
.inline-group h4 {
  background: #f3f3f3;
  border-top: 2px solid #d6d6d6;
  padding: 3px 25px;
  text-shadow: none;
}

/* line 1182, ../sass/screen.sass */
.selector .selector-available h2, .selector .selector-chosen h2 {
  text-transform: none;
  background: #565656;
  color: white;
  padding-left: 10px;
  margin-top: 8px;
}
/* line 1188, ../sass/screen.sass */
.selector .selector-filter {
  height: 30px;
  line-height: 30px;
  padding: 2px 0 7px 0;
}

/* line 1193, ../sass/screen.sass */
.selector-chooseall, .selector-clearall {
  background: none !important;
}

/* line 1199, ../sass/screen.sass */
.vDateField {
  margin: 0 8px 8px 8px;
}

/* line 1202, ../sass/screen.sass */
.vTimeField {
  margin: 0 8px 0 8px;
}

/* line 1205, ../sass/screen.sass */
.clockbox, .calendarbox {
  box-shadow: #434343 0 0 5px 0;
  border: none !important;
  margin: 22px 0 0 15px;
}

/* line 1210, ../sass/screen.sass */
.clockbox:before, .calendarbox:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0px;
  width: 0;
  height: 0;
  border-right: 18px solid #116bb9;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

/* line 1221, ../sass/screen.sass */
.clockbox h2 {
  background: #116bb9;
  border: none;
}

/* line 1226, ../sass/screen.sass */
.calendarbox table {
  width: 100%;
}
/* line 1228, ../sass/screen.sass */
.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next {
  background: #116bb9;
  height: 34px;
  line-height: 34px;
}
/* line 1232, ../sass/screen.sass */
.calendarbox .calendarnav-previous:hover, .calendarbox .calendarnav-next:hover {
  background: #003366;
}
/* line 1234, ../sass/screen.sass */
.calendarbox caption {
  background: #116bb9;
  font-size: 14px;
  line-height: 31px;
  padding: 3px 0;
  width: 100%;
}
/* line 1240, ../sass/screen.sass */
.calendarbox table td.today a:link {
  background: #ed8d1f;
  color: white;
}

/* line 1246, ../sass/screen.sass */
.clockbox .timelist li a:link, .clockbox .timelist li a:visited {
  padding: 5px 0;
}
/* line 1248, ../sass/screen.sass */
.clockbox .timelist li a:hover, .clockbox .timelist li a:active {
  background: #ed8d1f;
}
/* line 1250, ../sass/screen.sass */
.clockbox .calendar-cancel {
  background: #555555;
  padding: 0;
}

/* line 1254, ../sass/screen.sass */
.calendarbox .calendar-cancel {
  background: #555555;
  padding: 0;
}

/* line 1259, ../sass/screen.sass */
.clockbox .calendar-cancel a:link, .clockbox .calendar-cancel a:visited {
  display: block;
  color: white;
  padding: 4px 0;
}

/* line 1265, ../sass/screen.sass */
.calendarbox .calendar-cancel a:link, .calendarbox .calendar-cancel a:visited {
  display: block;
  color: white;
  padding: 4px 0;
}

/* line 1270, ../sass/screen.sass */
.clockbox .calendar-cancel a:hover, .calendarbox .calendar-cancel a:hover {
  background: #ed8d1f;
}

/* line 1276, ../sass/screen.sass */
.ui-dialog fieldset {
  border-radius: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 1280, ../sass/screen.sass */
.ui-dialog fieldset p.help {
  margin-left: 87px;
}
/* line 1282, ../sass/screen.sass */
.ui-dialog fieldset button {
  background: none;
  height: 28px;
  line-height: 10px;
  border: 1px solid #185488;
  border-radius: 15px;
  padding: 8px 13px;
  color: white;
  text-shadow: -1px -1px #185488;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  background: #0f74cb;
  background-image: -webkit-linear-gradient(top, #208cea, #116bb9);
  background-image: -moz-linear-gradient(top, #208cea, #116bb9);
  background-image: -o-linear-gradient(top, #208cea, #116bb9);
  background-image: -ms-linear-gradient(top, #208cea, #116bb9);
  box-shadow: #55a6eb 0 1px 0 0 inset;
  cursor: pointer;
}
/* line 1301, ../sass/screen.sass */
.ui-dialog fieldset button:hover {
  background: #208cea;
  background-image: -webkit-linear-gradient(top, #4da5f2, #208cea);
  background-image: -moz-linear-gradient(top, #4da5f2, #208cea);
  background-image: -o-linear-gradient(top, #4da5f2, #208cea);
  background-image: -ms-linear-gradient(top, #4da5f2, #208cea);
  box-shadow: #79baf2 0 1px 0 0 inset;
}
/* line 1308, ../sass/screen.sass */
.ui-dialog fieldset button:active {
  background: #116bb9;
  background-image: -webkit-linear-gradient(top, #116bb9, #208cea);
  background-image: -moz-linear-gradient(top, #116bb9, #208cea);
  background-image: -o-linear-gradient(top, #116bb9, #208cea);
  background-image: -ms-linear-gradient(top, #116bb9, #208cea);
}
/* line 1315, ../sass/screen.sass */
.ui-dialog fieldset div.advanced {
  background: #efefef;
  border-top: 1px solid #cccccc;
  margin: 0;
  padding: 5px 10px 5px 18px;
}
/* line 1320, ../sass/screen.sass */
.ui-dialog fieldset div.field-is_active {
  border-top: 1px solid #cccccc;
}
/* line 1322, ../sass/screen.sass */
.ui-dialog fieldset div.advanced a {
  display: inline-block;
  margin: 5px 0;
  height: 28px;
  line-height: 26px;
  border: 1px solid #6d6d6d;
  border-radius: 15px;
  padding: 3px 13px 0;
  color: white;
  text-shadow: -1px -1px #6d6d6d;
  font-weight: normal;
  background: #ababab;
  background-image: -webkit-linear-gradient(top, #ababab, #969595);
  background-image: -moz-linear-gradient(top, #ababab, #969595);
  background-image: -o-linear-gradient(top, #ababab, #969595);
  background-image: -ms-linear-gradient(top, #ababab, #969595);
  box-shadow: #bababa 0 1px 0 0 inset;
  cursor: pointer;
  cursor: pointer;
}
/* line 1341, ../sass/screen.sass */
.ui-dialog fieldset div.advanced a:hover {
  background: #7b7b7c;
  background-image: -webkit-linear-gradient(top, #b4b4b4, #909090);
  background-image: -moz-linear-gradient(top, #b4b4b4, #909090);
  background-image: -o-linear-gradient(top, #b4b4b4, #909090);
  background-image: -ms-linear-gradient(top, #b4b4b4, #909090);
}
/* line 1347, ../sass/screen.sass */
.ui-dialog fieldset div.advanced a:active {
  background: #969595;
  background-image: -webkit-linear-gradient(top, #969595, #ababab);
  background-image: -moz-linear-gradient(top, #969595, #ababab);
  background-image: -o-linear-gradient(top, #969595, #ababab);
  background-image: -ms-linear-gradient(top, #969595, #ababab);
}

/* line 1358, ../sass/screen.sass */
.inline-group .tabular {
  width: 960px !important;
  border-right: 1px solid #cccccc;
  overflow-x: scroll;
}
/* line 1362, ../sass/screen.sass */
.inline-group thead th {
  background: #f3f3f3 !important;
  border-top: 2px solid #7b7b7b;
  padding: 3px 25px;
  text-shadow: none;
}
/* line 1368, ../sass/screen.sass */
.inline-group .tabular tr.has_original td {
  padding-top: 20px !important;
}
/* line 1370, ../sass/screen.sass */
.inline-group .tabular td.original {
  position: relative;
}
/* line 1372, ../sass/screen.sass */
.inline-group .tabular td.original p {
  top: 5px;
  overflow: visible;
  width: 300px;
}
/* line 1377, ../sass/screen.sass */
.inline-group .tabular tr td button {
  background: none;
  display: block;
  height: 28px;
  line-height: 28px;
  border: 1px solid #185488;
  border-radius: 15px;
  padding: 0 13px;
  color: white;
  text-shadow: -1px -1px #185488;
  font-size: 12px;
  font-weight: normal;
  background: #0f74cb;
  background-image: -webkit-linear-gradient(top, #208cea, #116bb9);
  background-image: -moz-linear-gradient(top, #208cea, #116bb9);
  background-image: -o-linear-gradient(top, #208cea, #116bb9);
  background-image: -ms-linear-gradient(top, #208cea, #116bb9);
  box-shadow: #55a6eb 0 1px 0 0 inset;
}
/* line 1395, ../sass/screen.sass */
.inline-group .tabular tr td button:hover {
  background: #208cea;
  background-image: -webkit-linear-gradient(top, #4da5f2, #208cea);
  background-image: -moz-linear-gradient(top, #4da5f2, #208cea);
  background-image: -o-linear-gradient(top, #4da5f2, #208cea);
  background-image: -ms-linear-gradient(top, #4da5f2, #208cea);
  box-shadow: #79baf2 0 1px 0 0 inset;
}
/* line 1402, ../sass/screen.sass */
.inline-group .tabular tr td button:active {
  background: #116bb9;
  background-image: -webkit-linear-gradient(top, #116bb9, #208cea);
  background-image: -moz-linear-gradient(top, #116bb9, #208cea);
  background-image: -o-linear-gradient(top, #116bb9, #208cea);
  background-image: -ms-linear-gradient(top, #116bb9, #208cea);
}
/* line 1408, ../sass/screen.sass */
.inline-group .tabular tr.add-row td a {
  padding-left: 20px;
}

/* line 1414, ../sass/screen.sass */
#menuitem_set-group {
  margin: 0;
  border: 1px solid #c5c5c5;
}
/* line 1418, ../sass/screen.sass */
#menuitem_set-group li.inline-related {
  cursor: move;
}
/* line 1420, ../sass/screen.sass */
#menuitem_set-group li li.inline-related {
  background: url(images/icon_nested_arrow.png) left top no-repeat transparent;
}
/* line 1422, ../sass/screen.sass */
#menuitem_set-group li.inline-related fieldset {
  background: #fcfcfc;
  width: 100%;
  padding: 0 10px 0 10px;
  margin: 5px 0 0 -10px;
}
/* line 1427, ../sass/screen.sass */
#menuitem_set-group li:nth-child(even) {
  background: #f6f6f6;
}
/* line 1429, ../sass/screen.sass */
#menuitem_set-group li div {
  border: none;
  margin: 0;
  line-height: 19px;
  border-top: 1px solid #c5c5c5;
  padding: 9px 10px 9px 18px;
  list-style: none;
  position: relative;
}
/* line 1437, ../sass/screen.sass */
#menuitem_set-group li li div {
  border-top: 1px dashed #c5c5c5;
  background: transparent;
}
/* line 1441, ../sass/screen.sass */
#menuitem_set-group li div.form-row {
  border-top: none;
  padding: 0;
  background: transparent;
}
/* line 1445, ../sass/screen.sass */
#menuitem_set-group li div.object_id div {
  min-height: 29px !important;
}
/* line 1447, ../sass/screen.sass */
#menuitem_set-group li div.object_id div button {
  background: none;
  height: 28px;
  line-height: 10px;
  border: 1px solid #185488;
  border-radius: 15px;
  padding: 8px 13px;
  color: white;
  text-shadow: -1px -1px #185488;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  background: #0f74cb;
  background-image: -webkit-linear-gradient(top, #208cea, #116bb9);
  background-image: -moz-linear-gradient(top, #208cea, #116bb9);
  background-image: -o-linear-gradient(top, #208cea, #116bb9);
  background-image: -ms-linear-gradient(top, #208cea, #116bb9);
  box-shadow: #55a6eb 0 1px 0 0 inset;
}
/* line 1465, ../sass/screen.sass */
#menuitem_set-group li div.object_id div button:hover {
  background: #208cea;
  background-image: -webkit-linear-gradient(top, #4da5f2, #208cea);
  background-image: -moz-linear-gradient(top, #4da5f2, #208cea);
  background-image: -o-linear-gradient(top, #4da5f2, #208cea);
  background-image: -ms-linear-gradient(top, #4da5f2, #208cea);
  box-shadow: #79baf2 0 1px 0 0 inset;
}
/* line 1472, ../sass/screen.sass */
#menuitem_set-group li div.object_id div button:active {
  background: #116bb9;
  background-image: -webkit-linear-gradient(top, #116bb9, #208cea);
  background-image: -moz-linear-gradient(top, #116bb9, #208cea);
  background-image: -o-linear-gradient(top, #116bb9, #208cea);
  background-image: -ms-linear-gradient(top, #116bb9, #208cea);
}
/* line 1478, ../sass/screen.sass */
#menuitem_set-group li div.form-row div {
  border-top: 1px solid #c5c5c5;
  padding: 10px;
}
/* line 1481, ../sass/screen.sass */
#menuitem_set-group li h4 {
  text-shadow: none;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}
/* line 1487, ../sass/screen.sass */
#menuitem_set-group li h4 span.inline_label {
  color: #434343;
  font-size: 16px;
  margin-right: 5px;
  text-transform: none;
}
/* line 1492, ../sass/screen.sass */
#menuitem_set-group li li h4 span.inline_label {
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
}
/* line 1498, ../sass/screen.sass */
#menuitem_set-group li h4 span.delete input {
  vertical-align: middle;
}
/* line 1501, ../sass/screen.sass */
#menuitem_set-group li h4 span.detail a:link, #menuitem_set-group li h4 span.detail a:visited {
  opacity: 1;
  color: #ed8d1f;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 1507, ../sass/screen.sass */
#menuitem_set-group li h4 a:link, #menuitem_set-group li h4 a:visited {
  text-transform: none;
  font-weight: normal;
  color: #666666;
  opacity: 0.15;
}
/* line 1512, ../sass/screen.sass */
#menuitem_set-group li h4 span.delete {
  text-transform: none;
  font-weight: normal;
  color: #666666;
  opacity: 0.15;
}
/* line 1518, ../sass/screen.sass */
#menuitem_set-group div:hover h4 a, #menuitem_set-group div:hover h4 span.delete {
  opacity: 1;
}
/* line 1521, ../sass/screen.sass */
#menuitem_set-group li h4 a:hover {
  color: #ed8d1f;
}
/* line 1523, ../sass/screen.sass */
#menuitem_set-group li h4 span.delete {
  margin-right: 10px;
}

/* line 1527, ../sass/screen.sass */
.inline-group div.add-row {
  background: transparent;
  border-top: 1px solid #cccccc;
  margin: 0;
  padding: 12px 10px 12px 18px;
}
/* line 1532, ../sass/screen.sass */
.inline-group .tabular tr.add-row {
  background: #e1e1e1 !important;
  border-bottom: none !important;
}
/* line 1533, ../sass/screen.sass */
.inline-group .tabular tr.add-row td {
  background: transparent;
  border-top: 1px solid #cccccc;
  margin: 0;
  padding: 12px 10px 12px 18px;
}
/* line 1540, ../sass/screen.sass */
.inline-group ul.tools a.add, .inline-group div.add-row a, .inline-group .tabular tr.add-row td a {
  margin: 3px 8px 3px 0;
  height: 28px;
  line-height: 26px;
  border: 1px solid #6d6d6d;
  border-radius: 15px;
  padding: 8px 13px;
  color: white;
  text-shadow: -1px -1px #6d6d6d;
  text-transform: uppercase;
  font-weight: normal;
  background: #ababab;
  background-image: -webkit-linear-gradient(top, #ababab, #969595);
  background-image: -moz-linear-gradient(top, #ababab, #969595);
  background-image: -o-linear-gradient(top, #ababab, #969595);
  background-image: -ms-linear-gradient(top, #ababab, #969595);
  box-shadow: #bababa 0 1px 0 0 inset;
}
/* line 1557, ../sass/screen.sass */
.inline-group ul.tools a.add:hover, .inline-group div.add-row a:hover, .inline-group .tabular tr.add-row td a:hover {
  background: #7b7b7c;
  background-image: -webkit-linear-gradient(top, #b4b4b4, #909090);
  background-image: -moz-linear-gradient(top, #b4b4b4, #909090);
  background-image: -o-linear-gradient(top, #b4b4b4, #909090);
  background-image: -ms-linear-gradient(top, #b4b4b4, #909090);
}
/* line 1563, ../sass/screen.sass */
.inline-group ul.tools a.add:active, .inline-group div.add-row a:active, .inline-group .tabular tr.add-row td a:active {
  background: #969595;
  background-image: -webkit-linear-gradient(top, #969595, #ababab);
  background-image: -moz-linear-gradient(top, #969595, #ababab);
  background-image: -o-linear-gradient(top, #969595, #ababab);
  background-image: -ms-linear-gradient(top, #969595, #ababab);
}

/* line 1573, ../sass/screen.sass */
.dashboard #content-main .module {
  margin-bottom: 0;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border: none;
}

/* line 1583, ../sass/screen.sass */
#content-main .module table {
  border: 1px solid #cccccc;
  border-top: none;
  border-bottom: none;
}
/* line 1587, ../sass/screen.sass */
#content-main .module table caption {
  font-size: 19px;
  text-shadow: 1px 1px #ebebeb;
  text-transform: uppercase;
  height: 36px;
  line-height: 36px;
  border: 1px solid #7b7b7b;
  border-bottom: 1px solid #555657;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  box-shadow: 0 1px 0 0 #ebebeb inset;
  background: #bdbdbd;
  background-image: -webkit-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -moz-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -o-linear-gradient(top, #c8c8c8, #afafaf);
  background-image: -ms-linear-gradient(top, #c8c8c8, #afafaf);
  position: relative;
}
/* line 1609, ../sass/screen.sass */
#content-main .module table caption a:link, #content-main .module table caption a:visited {
  color: #555555;
  padding-left: 5px;
}
/* line 1612, ../sass/screen.sass */
#content-main .module table tr {
  border-bottom: 1px solid #cccccc;
}
/* line 1614, ../sass/screen.sass */
#content-main .module table:not(.cke_editor) tr:nth-child(odd) {
  background: white !important;
}

/* line 1617, ../sass/screen.sass */
.row1 {
  background: white !important;
}

/* line 1620, ../sass/screen.sass */
#content-main .module table:not(.cke_editor) tr:nth-child(even), .row2 {
  background: #f3f3f3 !important;
}

/* line 1624, ../sass/screen.sass */
#content-main .module table tr th, #content-main .module table tr td {
  padding: 7px;
  height: 21px;
  vertical-align: middle;
}

/* line 1629, ../sass/screen.sass */
.addlink {
  background: url(images/icon_add.png) 0 -28px no-repeat;
  padding-left: 18px;
}

/* line 1633, ../sass/screen.sass */
.changelink {
  background: url(images/icon_edit.png) 0 -28px no-repeat;
  padding-left: 18px;
}

/* line 1639, ../sass/screen.sass */
a.addlink:link, a.addlink:visited {
  color: #555555;
}
/* line 1642, ../sass/screen.sass */
a.changelink:link, a.changelink:visited {
  color: #555555;
}

/* line 1645, ../sass/screen.sass */
.addlink:hover, .changelink:hover {
  background-position: 0 0;
}

/* line 1649, ../sass/screen.sass */
a.addlink:hover, a.changelink:hover {
  color: #ed8d1f;
}

/* line 1655, ../sass/screen.sass */
footer {
  width: 960px;
  margin: 0 auto;
}
/* line 1658, ../sass/screen.sass */
footer p {
  height: 24px;
  width: 121px;
  margin: 0 auto;
  text-indent: -9999px;
}
/* line 1663, ../sass/screen.sass */
footer p a {
  display: block;
  padding: 15px;
  background: url(images/footer_csky.png) center no-repeat;
}
