@import url("reset.css");


/* Global
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
body {
	background: url(images/site_bg.png) repeat !important; 
	color: #545454;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.583333333em;
}
h1 {
	height: 40px;
	width: 116px;
	float: left;
}
h1 a {
	display: block;
	height: 40px;
	text-indent: -9999px;
	width: 400px;
	background: url(images/h1_logo_bg.png) no-repeat;
}
h2, .h2 {
	font-size: 31px;
	line-height: 31px;
	color: #116bb9;
}
h3, .h3 {
	color: #555555;
	font-size: 19px;
	text-transform: uppercase;
	text-shadow: 1px 1px #dadada;
}
h4, .h4 {
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px #181818;
	display: block;
	font-weight: 500;
	padding: 0 10px;
	border-top: 2px solid #434343;
	background: #565656;
}
h4 a:link,
h4 a:visited {
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px #181818;
	display: block;
}
h4 a:hover {
	color: #f79421;
}
a:link,
a:visited {
	color: #116bb9;
}
a:hover {
	color: #278adf;
}
.clear:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
input:focus,
select:focus {
	outline: none;
	border: 1px solid #f79421 !important;
}
.vLargeTextField, .vXMLLargeTextField {
	width: 57em;
}
.inline-deletelink {
	background: url(images/icon_close_small.png) no-repeat 0 0;
	height: 14px;
	width: 15px;
	display: block;
	text-indent: -9999px;
	margin-top: 2px;
}
.inline-deletelink:hover {
	background-position: 0 -14px;
}
.selector-add,
.active.selector-add {
	background: url(images/button_action_submit.png) no-repeat 0 0;
	cursor: pointer;
}
.selector-remove,
.active.selector-remove {
	background: url(images/selector_remove.png) no-repeat 0 0;
	cursor: pointer;
}
.selector-add:hover,
.selector-remove:hover {
	background-position: 0 -16px;
}
.errornote {	
	font-size: 12px !important;
	display: block;
	padding: 4px 5px 4px 25px !important;
	border: 2px solid #970000;
	color: #fff;
	background-color: red !important;
	border-radius: 5px;
	margin: 10px 0;
}
.login .errornote {
	width: 33%;
	margin: 0 auto;
}
.errorlist li {	
	font-size: 12px !important;
	display: block;
	padding: 4px 5px 4px 25px !important;
	margin: 0 0 5px 0;
	border: 2px solid #970000;
	color: #fff;
	background-color: red !important;
	border-radius: 5px;
	width: 33%;
}
.form-row.errors {
	background-color: #ffe6e6;
	border-top: 1px solid #970000;
	border-bottom: 1px solid #970000;
}
a.deletelink {
	color: #222 !important;
}
a.hover {
	color: #555 !important;
}
.clearfix:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}


/* Content Container
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
#content_container {
	width: 960px;
	margin: 0 auto;
}
.popup #content_container {
	width: 700px;
}




/* Page Header
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
#page_header {
	width: 960px;
	padding: 20px 0;
}
.popup #page_header {
	width: 700px;
}
#page_header h2 {
	float: left; 
	margin-right: 10px;
}
#bookmark-form {
	height: 26px;
	width: 26px;
	margin-top: 3px;
	float: left;
}
#bookmark-form #bookmark-button {
	height: 26px;
	width: 26px;
	border: none;
	background: url(images/icon_add_favorite.png) no-repeat 0 0;
	text-indent: -9999px;
}
#bookmark-form #bookmark-button.bookmarked {
	background-position: 0 -26px;
}

#page_header div.breadcrumbs {
	border-top: none;
	border-bottom: none;
	background: none;
	padding: 5px 0 0 0;
	margin-bottom: -10px;
	clear: both;
}


/* Login / Logout
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
.login header {
	display: none;
}
.login #admin_content {
	background: transparent;
}
.login #page_header{
	text-align:center;
}
.login h1.logo {
	background: url(images/login_logo.png) no-repeat 50% 0;
	text-indent: -9999px;
	margin: 0 auto;
	width: 200px;
	height: 140px;
	float: none;
}
#login-form {
	margin: 25px auto;
	padding: 15px;
	background: #116bb9;
	width: 33%;
	border-radius: 5px;
}
.login .form-row label {
	width: 30%;
	text-align: left;
	color: #fff !important;
}
.login .form-row #id_username, 
.login .form-row #id_password {
	width: 65%;
	border: 1px solid #555;
}
.login #login-form .submit-row {
	background: none;
	box-shadow: none;
	border: none;
	padding: 0 0 10px 0;
}
.login #login-form .submit-row input[type="submit"] {
	display: block;
	margin: 5px 0 0 0;
	height: 28px;
	line-height: 28px;
	border: 1px solid #92642f;
	border-radius: 15px;
	padding: 0 13px;
	color: white;
	text-shadow: -1px -1px #92642f;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	background: #ed8d1f;
	background-image: -webkit-linear-gradient(top, #ed8d1f, #d67709);
	background-image: -moz-linear-gradient(top, #ed8d1f, #d67709);
	background-image: -o-linear-gradient(top, #ed8d1f, #d67709);
	background-image: -ms-linear-gradient(top, #ed8d1f, #d67709);
	box-shadow: #f2a954 0 1px 0 0 inset;
}
.login #login-form .submit-row input[type="submit"]:hover {
	background: #208cea;
	background-image: -webkit-linear-gradient(top, #f6a03b, #dd7f13);
	background-image: -moz-linear-gradient(top, #f6a03b, #dd7f13);	
	background-image: -o-linear-gradient(top, #f6a03b, #dd7f13);
	background-image: -ms-linear-gradient(top, #f6a03b, #dd7f13);
}
.login #login-form .submit-row input[type="submit"]:active {
	background: #d67709;
	background-image: -webkit-linear-gradient(top, #d67709, #ed8d1f);
	background-image: -moz-linear-gradient(top, #d67709, #ed8d1f);
	background-image: -o-linear-gradient(top, #d67709, #ed8d1f);
	background-image: -ms-linear-gradient(top, #d67709, #ed8d1f);
}
.login footer {
	border: none;
	box-shadow: none;
}



/* Content
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
#admin_content {
	position: relative;
	width: 960px;
	background: #fff;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
.popup #admin_content {
	width: 700px;
}
#admin_content > p,
#admin_content > ul,
#admin_content > ol,
#admin_content > form {
	padding: 15px;
}
#admin_content > ul li,
#admin_content > ol li {
	margin-left: 15px;
}
#admin_content > form {
	padding: 15px;
}
#admin_content > form input[type="submit"] {
	display: block;
	margin-right: 0;
	height: 28px;
	line-height: 28px;
	border: 1px solid #92642f;
	border-radius: 15px;
	padding: 0 13px;
	color: white;
	text-shadow: -1px -1px #92642f;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	background: #ed8d1f;
	background-image: -webkit-linear-gradient(top, #ed8d1f, #d67709);
	background-image: -moz-linear-gradient(top, #ed8d1f, #d67709);
	background-image: -o-linear-gradient(top, #ed8d1f, #d67709);
	background-image: -ms-linear-gradient(top, #ed8d1f, #d67709);
	box-shadow: #f2a954 0 1px 0 0 inset;
}
#admin_content > form input[type="submit"]:hover {
	background: #208cea;
	background-image: -webkit-linear-gradient(top, #f6a03b, #dd7f13);
	background-image: -moz-linear-gradient(top, #f6a03b, #dd7f13);	
	background-image: -o-linear-gradient(top, #f6a03b, #dd7f13);
	background-image: -ms-linear-gradient(top, #f6a03b, #dd7f13);
}
#admin_content > form input[type="submit"]:active {
	background: #d67709;
	background-image: -webkit-linear-gradient(top, #d67709, #ed8d1f);
	background-image: -moz-linear-gradient(top, #d67709, #ed8d1f);
	background-image: -o-linear-gradient(top, #d67709, #ed8d1f);
	background-image: -ms-linear-gradient(top, #d67709, #ed8d1f);
}
#admin_content.dashboard {
	width: 908px;
	border: 1px solid #d6d6d6;
	border-bottom: none;
	background: #fff;
	padding: 25px;
}
.change-form #admin_content {
	background: #efefef;
	border-top: 1px solid #d6d6d6;
}


/* Object Tools
- - - - - - - - - - - - - - - -*/
#admin_content ul.object-tools {
	position: absolute;
	top: -50px;
	right: 0;
	margin: 0;
	padding: 0;
	float: none;
}
#admin_content ul.object-tools > li,
#admin_content ul.object-tools > li:hover {
	background: none;
	margin: 0;
	padding: 0 0 20px 0;
	height: 28px;
	line-height: 28px;
	float: left;
	margin-left: 15px;
	position: relative;
}
#admin_content ul.object-tools li a:link,
#admin_content ul.object-tools li a:visited {
	background: none;
	display: block;
	height: 28px;
	line-height: 28px;
	border: 1px solid #185488;
	border-radius: 15px;
	padding: 0 13px;
	color: #fff;
	text-shadow: -1px -1px #185488;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	background: #0f74cb;
	background-image: -webkit-linear-gradient(top, #208cea, #116bb9);
	background-image: -moz-linear-gradient(top, #208cea, #116bb9);	
	background-image: -o-linear-gradient(top, #208cea, #116bb9);
	background-image: -ms-linear-gradient(top, #208cea, #116bb9);
	box-shadow: #55a6eb 0 1px 0 0 inset;
}
#admin_content ul.object-tools li a:hover,
#admin_content ul.object-tools li:hover a {
	background: #208cea;
	background-image: -webkit-linear-gradient(top, #4da5f2, #208cea);
	background-image: -moz-linear-gradient(top, #4da5f2, #208cea);	
	background-image: -o-linear-gradient(top, #4da5f2, #208cea);
	background-image: -ms-linear-gradient(top, #4da5f2, #208cea);
	box-shadow: #79baf2 0 1px 0 0 inset;
}
#admin_content ul.object-tools li a:active {
	background: #116bb9;
	background-image: -webkit-linear-gradient(top, #116bb9, #208cea);
	background-image: -moz-linear-gradient(top, #116bb9, #208cea);	
	background-image: -o-linear-gradient(top, #116bb9, #208cea);
	background-image: -ms-linear-gradient(top, #116bb9, #208cea);
}
#admin_content ul.object-tools ul:before {
	content:"";
	position: absolute;
	left: 20%;
	top: -10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #185488;
}
#admin_content ul.object-tools ul {
	display: none;
	position: absolute;
	z-index: 90;
	top: 42px;
	right: 0;
	width: 100%;
	padding-top: 1px;
	margin-top: -1px;
	background: #bfbfbf;
	border-top: 1px solid #185488;
	box-shadow: #535558 0 5px 10px -5px inset, #434343 0 2px 5px 0;
}
#admin_content ul.object-tools ul li {
	border: none;
	background: none;
	width: 90%;
	height: 25px;
	line-height: 40px;
	padding: 5px 5%;
	text-align: left;
	margin: 0;
	border: 1px solid #d7d7d7;
	border-top: none;
}
#admin_content ul.object-tools ul li a:link,
#admin_content ul.object-tools ul li a:visited {
	background: none;
	padding: 0;
	margin: 0;
	border: none;
	box-shadow: none;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0;
	color: #434343;
	text-shadow: 1px 1px #d7d7d7;
}
#admin_content ul.object-tools ul li a:hover, 
#admin_content ul.object-tools ul li a:active { 
	color: #116bb9;
}
#admin_content ul.object-tools li:hover ul {
	display: block;
}




/* Dashboard
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/* Generic Dashboard
- - - - - - - - - - - - - - - -*/
div.dashboard-column {
	padding-bottom: 15px;
}
div.dashboard-column:first-child {
	width: 66% !important;
}
div.dashboard-column:last-child {
	width: 34% !important;
}
div.dashboard-column:first-child div.dashboard-placeholder {
	margin: 0 13px 20px 0;
}
div.dashboard-column:last-child div.dashboard-placeholder {
	margin: 0 13px 20px 12px;
}
div.dashboard-placeholder {
    border: 1px dashed #f79421;
    border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;    
	background-color: rgba(247, 148, 33, .2);
	margin: 0 0 20px 0;
}
div.dashboard-column:first-child div.dashboard-module {
	margin-right: 13px;
}
div.dashboard-column:last-child div.dashboard-module {
	margin-left: 12px;
}
div.dashboard-module {
	margin-bottom: 20px;
}
div.dashboard-module h3 {
	font-size: 19px;
	line-height: 36px;
	height: 36px;
	display: block;
	cursor: move;
	padding: 0 10px;
	position: relative;
	border: 1px solid #7b7b7b;
	border-bottom: 1px solid #555657;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background: #bdbdbd;
	box-shadow: 0 1px 0 0 #ebebeb inset;
	background-image: -webkit-linear-gradient(top, #c8c8c8, #afafaf);
	background-image: -moz-linear-gradient(top, #c8c8c8, #afafaf);	
	background-image: -o-linear-gradient(top, #c8c8c8, #afafaf);
	background-image: -ms-linear-gradient(top, #c8c8c8, #afafaf);
}
div.dashboard-module h3 a.close-icon {
	background: url(images/icon_close.png) no-repeat 0 0;
	height: 20px;
	width: 20px;
	text-indent: -9999px;
	position: absolute;
	top: 9px;
	right: 10px;
}
div.dashboard-module h3 a.close-icon:hover {
	background-position: 0 -20px;
}
div.dashboard-module h3 a.toggle-icon {
	background: url(images/icon_toggle.png) 0 -22px no-repeat;
	position: absolute;
	top: 8px;
	right: 40px;
	text-indent: -9999px;
	height: 22px;
	width: 56px;
}
div.dashboard-module h3 a.toggle-icon:hover {
	background-position: 0 -66px;
}
div.dashboard-module h3 a.toggle-icon.collapsed {
	background-position: 0 0;
}
div.dashboard-module h3 a.toggle-icon.collapsed:hover {
	background-position: 0 -44px;
}



/* Generic Dashboard Module Content
- - - - - - - - - - - - - - - -*/
div.dashboard-module-content {
	border: 1px solid #c5c5c5;
	border-top: 1px solid #555657;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}
div.dashboard-module-content h4 {
	margin: 0 -1px 0 -1px;
	height: 20px;
	line-height: 20px;
}
div.dashboard-module-content h4:first-child {
	margin-top: -2px;
}
div.dashboard-module-content li {
	line-height: 19px;
	border-bottom: 1px solid #c5c5c5;
	padding: 7px 10px 7px 10px;
	list-style: none;
	position: relative;
}
div.dashboard-module-content li:last-child {
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;	
}
div.dashboard-module-content li:nth-child(even) {
	background: #f6f6f6;
}
div.dashboard-module-content li span.date_time {
	color: #b0b0b0;
	float: right;
	margin-left: 15px;
}
div.dashboard-module-content li:last-child {
	border-bottom: none;
}
div.dashboard-module-content span.changelink,
div.dashboard-module-content a.changelink {
	background: url(images/icon_edit.png) 0 0 no-repeat;
	padding-left: 18px;
}
div.dashboard-module-content span.addlink,
div.dashboard-module-content a.addlink {
	background: url(images/icon_add.png) 0 0 no-repeat;
	padding-left: 18px;
}
div.dashboard-module-content span.listlink,
div.dashboard-module-content a.listlink {
	background: url(images/icon_list.png) 0 0 no-repeat;
	padding-left: 18px;
}
div.dashboard-module-content span.deletelink,
div.dashboard-module-content a.deletelink {
	padding-left: 18px;
}
div.dashboard-module-content li span.object_type {
	color: #565656;
	background-position: 0 -28px;
	opacity: .25;
	font-style: italic;
}
div.dashboard-module-content div:hover span.object_type,
div.dashboard-module-content li:hover span.object_type {
	opacity: 1;
}


/* Generic Dashboard Inline Options
- - - - - - - - - - - - - - - -*/
div.dashboard-module-content ul.list-options {
	position: absolute;
	top: 0;
	right: 0;
}
ddiv.dashboard-module-content li:hover ul.list-options {
	display: block;
}
div.dashboard-module-content ul.list-options li {
	float: left;
	height: 30px;
	border: none;
	margin: 0;
	padding: 7px 12px 0 0;
}
div.dashboard-module-content ul.list-options li:nth-child(even) {
	background: transparent;
}
div.dashboard-module-content ul.list-options li a:link,
div.dashboard-module-content ul.list-options li a:visited {
	color: #565656;
	background-position: 0 -28px;
	opacity: .15;
}
div.dashboard-module-content div:hover ul.list-options li a:link {
	opacity: 1;
}
div.dashboard-module-content li:hover ul.list-options li a:hover,
div.dashboard-module-content ul.list-options li a:hover {
	color: #f79421;
	background-position: 0 0;
	opacity: 1;
}



/* Sitemap Module
- - - - - - - - - - - - - - - -*/
#module_1 ul li.first {
	font-size: 10px;
	text-transform: uppercase;
	text-shadow: 1px 1px #181818;
	display: block;
	font-weight: 500;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	border-top: 2px solid #434343;
	background: #565656;
	margin: -2px -1px 0 -1px;
}
#module_1 ul li.first span.object_type {
	display: none;
}
#module_1 ul li.first a:link,
#module_1 ul li.first a:visited {
	color: #fff;	
}
#module_1 ul li.first a:hover {
	color: #f79421;
}
#module_1 li ul.list-options li {
	padding: 7px 10px 0 0;
}
#module_1 li.first ul.list-options li {
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	padding: 0;
	background: none;
}
#module_1 li.first ul.list-options li a:link,
#module_1 li.first ul.list-options li a:visited {
	color: #fff;
	background-position: 0 -42px;
	opacity: .15;
	text-shadow: none;
	padding-left: 18px;
}
#module_1 li.first:hover ul.list-options li a:link {
	opacity: 1;
}
#module_1 li.first:hover ul.list-options li a:hover, 
#module_1 li.first ul.list-options li a:hover {
	color: #f79421;
	background-position: 0 0;
}
#module_1 ul li {
	padding: 0px 10px;
	margin: 0;
}
#module_1 ul li div{
	padding: 7px 0px;
	margin: 0;
}

#module_1 ul ul.children {
	margin: 0;
}
#module_1 ul ul.children > li {
	padding: 0 10px 0 4%;
	width: 96%;
	background: url(images/icon_nested_arrow.png) left top no-repeat;
	border-top: 1px dashed #c5c5c5;
	border-bottom: none;
}


/* Quicklinks Module
- - - - - - - - - - - - - - - -*/
#module_4 h3 {
	cursor: default;
}


li.ui-sortable-placeholder {
	border: 1px dashed #f79421 !important;
    border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;    
	background-color: rgba(247, 148, 33, .2) !important;
	margin: 0 0 20px 0;
	visibility: visible !important;
}



/* Recent Activity Module
- - - - - - - - - - - - - - - -*/
#dashboard .activity ul li.activity-types {
	font-size: 10px;
	text-transform: uppercase;
	text-shadow: 1px 1px #181818;
	display: block;
	font-weight: 500;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	border-top: 2px solid #434343;
	background: #565656;
	margin: -2px -1px 0 -1px;
}
#dashboard .activity ul li.activity-types span.object_type {
	display: none;
}
#dashboard .activity ul li.activity-types a {
	padding-right: 2em;
}
#dashboard .activity ul li.activity-types a:link,
#dashboard .activity ul li.activity-types a:visited {
	color: #fff;	
	position: relative;
	display: block;
	float: left;
}
#dashboard .activity ul li.activity-types a.active , 
#dashboard .activity ul li.activity-types a:hover {
	color: #f79421;
}
#dashboard .activity ul li.activity-types a.active:after {
	content:"";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #f6f6f6;
}



/* Listing Page
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.change-list .filtered {
	background: url(images/filter_bg.png) #fff right repeat-y !important;
}
.change-list .filtered .paginator {
	border-right: none;
	border-bottom: none;
}
#changelist {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border: none;
	margin-bottom: 0;
}


/* Listing Search Bar
- - - - - - - - - - - - - - - -*/
#changelist #toolbar {
	padding: 6px 10px 0 0;
	width: 152px !important;
	height: 30px;
	position: absolute;
	margin-right: 0 !important;
	right: 0px;
	top: 0;
	z-index: 100;
	border: 1px solid #7b7b7b;
	border-bottom: 1px solid #555657;
	border-left: none;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	box-shadow: 0 1px 0 0 #ebebeb inset;
	background: #bdbdbd;
	background-image: -webkit-linear-gradient(top, #c8c8c8, #afafaf);
	background-image: -moz-linear-gradient(top, #c8c8c8, #afafaf);	
	background-image: -o-linear-gradient(top, #c8c8c8, #afafaf);
	background-image: -ms-linear-gradient(top, #c8c8c8, #afafaf);
}
#changelist #toolbar label {
	display: none;
}
#changelist #toolbar form #searchbar {
	position: relative;
	height: 23px;
	border: none;
	padding: 0 25px 0 5px;
	width: 128px;
	border-radius: 15px;
	box-shadow: 0 1px 0 0 #ebebeb;
	background: #48494b;
	background-image: -webkit-linear-gradient(top, #48494b, #7e7e7e);
	background-image: -moz-linear-gradient(top, #48494b, #7e7e7e);	
	background-image: -o-linear-gradient(top, #48494b, #7e7e7e);
	background-image: -ms-linear-gradient(top, #48494b, #7e7e7e);
	color: #fff;
}
#changelist #toolbar form #searchbar:focus {
	outline: none;
}
#changelist #toolbar form input[type="submit"] {
	background: url(images/icon_search.png) no-repeat;
	height: 14px;
	width: 13px;
	border: none;
	position: absolute;
	top: 11px;
	right: 10px;
	text-indent: -9999px;
}
#changelist #toolbar form span.small {
	position: absolute;
	top: 10px;
	right: 170px;
	width: 160px;
	color: #555 !important;
	text-transform: uppercase;
	text-align: right;
	text-shadow: 1px 1px #ebebeb;
	font-size: 10px;
}


/* Listing Action Bar
- - - - - - - - - - - - - - - -*/
#changelist div.actions {
	font-size: 19px;
	line-height: 36px;
	height: 36px;
	display: block;
	padding: 0 10px 0 2px;
	position: relative;
	border: 1px solid #7b7b7b;
	border-bottom: 1px solid #555657;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	box-shadow: 0 1px 0 0 #ebebeb inset;
	background: #bdbdbd;
	background-image: -webkit-linear-gradient(top, #c8c8c8, #afafaf);
	background-image: -moz-linear-gradient(top, #c8c8c8, #afafaf);	
	background-image: -o-linear-gradient(top, #c8c8c8, #afafaf);
	background-image: -ms-linear-gradient(top, #c8c8c8, #afafaf);
	margin-right: 0 !important;
}
#changelist div.actions label {
	position: absolute;
	text-transform: uppercase;
	font-size: 10px;
	text-shadow: 1px 1px #ebebeb;
	color: #505050;
}
#changelist div.actions label select {
	width: 145px;
}
#changelist div.actions button {
	margin: 9px 0 0 210px;
	height: 16px;
	width: 16px;
	background: url(images/button_action_submit.png) 0 0 no-repeat transparent;
	text-indent: -9999px;
	border: none;
}
#changelist div.actions button:hover {
	background-position: 0 -16px;
}
#changelist div.actions span.action-counter {
	color: #0f74cc;
	text-transform: uppercase;
	font-size: 10px;
}



/* Listing Table
- - - - - - - - - - - - - - - -*/
.change-list .filtered table#result_list {
	border-right: none;
	border-bottom: 1px solid #dfdfdf;
}
#changelist #changelist-form table thead,
#change-history thead {
	border-bottom: none;
}
#changelist #changelist-form table thead th,
#change-history thead th {
	border: 1px solid #434343;
	border-top: 2px solid #434343;
	border-bottom: none;
	height: 21px;
	padding: 0 7px 2px 7px;
	vertical-align: middle;
	color: #fff;
	background: #565656;
	background-image: -webkit-linear-gradient(top, #565656, #606060);
	background-image: -moz-linear-gradient(top, #565656, #606060);	
	background-image: -o-linear-gradient(top, #565656, #606060);
	background-image: -ms-linear-gradient(top, #565656, #606060);
}
#changelist #changelist-form table thead th a {
	color: #fff;
}
#changelist #changelist-form table thead th.sorted {
	background: #353535;
	background-image: -webkit-linear-gradient(top, #353535, #565656);
	background-image: -moz-linear-gradient(top, #353535, #565656);	
	background-image: -o-linear-gradient(top, #353535, #565656);
	background-image: -ms-linear-gradient(top, #353535, #565656);
}
#changelist #changelist-form table thead th.sorted a {
	text-shadow: 1px 1px #000;
	height: 15px;
}
table thead th.sorted .sortoptions a.ascending,
table thead th.sorted .sortoptions a.ascending:hover {
	background: url(images/icon_sort_asc.png) center right no-repeat;
}
table thead th.sorted .sortoptions a.descending,
table thead th.sorted .sortoptions a.descending:hover {
	background: url(images/icon_sort_desc.png) center right no-repeat;
}
table thead th.sorted .sortoptions a.sortremove,
table thead th.sorted .sortoptions a.sortremove:hover {
	background: url(images/icon_close_small.png) no-repeat;
	height: 15px;
}
#changelist #changelist-form table tbody tr {
	border-bottom: 1px solid #dfdfdf;
}
#changelist #changelist-form table tbody tr.row1 {
	background: #f3f3f3;
}
#changelist #changelist-form table tbody td,
#changelist #changelist-form table tbody th {
	padding: 7px;
	border: 1px solid #dfdfdf;
	border-bottom: none;
}
#changelist #changelist-form table tbody td:last-child {
	border-right: none;
}
#content-main .module table#change-history {
	border: none;
}
#content-main .module table#change-history tr:last-child {
	border-bottom: none;
}



/* Listing Paginator
- - - - - - - - - - - - - - - -*/
#changelist #changelist-form p.paginator {
	border: none;
	background: transparent;
}
.button.default,
input[type="submit"].default {
	display: block;
	margin-right: 0;
	height: 28px;
	line-height: 28px;
	border: 1px solid #92642f;
	border-radius: 15px;
	padding: 0 13px;
	color: white;
	text-shadow: -1px -1px #92642f;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	background: #ed8d1f;
	background-image: -webkit-linear-gradient(top, #ed8d1f, #d67709);
	background-image: -moz-linear-gradient(top, #ed8d1f, #d67709);
	background-image: -o-linear-gradient(top, #ed8d1f, #d67709);
	background-image: -ms-linear-gradient(top, #ed8d1f, #d67709);
	box-shadow: #f2a954 0 1px 0 0 inset;
}
.button.default,
input[type="submit"].default:hover {
	background: #208cea;
	background-image: -webkit-linear-gradient(top, #f6a03b, #dd7f13);
	background-image: -moz-linear-gradient(top, #f6a03b, #dd7f13);	
	background-image: -o-linear-gradient(top, #f6a03b, #dd7f13);
	background-image: -ms-linear-gradient(top, #f6a03b, #dd7f13);
}
.button.default,
input[type="submit"].default:active {
	background: #d67709;
	background-image: -webkit-linear-gradient(top, #d67709, #ed8d1f);
	background-image: -moz-linear-gradient(top, #d67709, #ed8d1f);
	background-image: -o-linear-gradient(top, #d67709, #ed8d1f);
	background-image: -ms-linear-gradient(top, #d67709, #ed8d1f);
}



/* Listing Filter
- - - - - - - - - - - - - - - -*/
#changelist:after {	
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
#changelist #changelist-filter {
	border-left: none;
	background: none;
	z-index: 50 !important;
	float: right;
	position: relative;
	display: block;
	padding-bottom: 10px;
}
#changelist #changelist-filter h2 {
	background: none;
	font-size: 19px;
	margin-left: 5px;
	color: #555;
	border: none;
	height: auto !important;
	text-transform: uppercase;
}
#changelist #changelist-filter li.selected {
	border-left: 5px solid #f79421;
}
#changelist #changelist-filter li.selected a {
	color: #116bb9 !important;
}
#changelist #changelist-filter li.selected a:hover, 
#changelist #changelist-filter li a:hover {
	color: #278adf;
}






/* Edit Screens
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.module.aligned {
	border-top: none;
}
.module.cms-menu {
	margin-bottom: -2px;
}
.submit-row {
	margin-bottom: 0;
	margin-top: 0;
	border: 1px solid #7b7b7b;
	border-bottom: 1px solid #555657;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	box-shadow: 0 1px 0 0 #ebebeb inset;
	background: #bdbdbd;
	background-image: -webkit-linear-gradient(top, #c8c8c8, #afafaf);
	background-image: -moz-linear-gradient(top, #c8c8c8, #afafaf);	
	background-image: -o-linear-gradient(top, #c8c8c8, #afafaf);
	background-image: -ms-linear-gradient(top, #c8c8c8, #afafaf);
	position: relative;
}
div.submit-row:last-of-type {
	margin-top: 5px;
	border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
}
.submit-row input {
	display: block;
	float: right;
	margin: 3px 8px 3px 0;
	height: 28px;
	line-height: 26px;
	border: 1px solid #6d6d6d;
	border-radius: 15px;
	padding: 0 13px;
	color: white;
	text-shadow: -1px -1px #6d6d6d;
	font-size: 10px;
	font-weight: normal;
	background: #ababab;
	background-image: -webkit-linear-gradient(top, #ababab, #969595);
	background-image: -moz-linear-gradient(top, #ababab, #969595);	
	background-image: -o-linear-gradient(top, #ababab, #969595);
	background-image: -ms-linear-gradient(top, #ababab, #969595);
	box-shadow: #bababa 0 1px 0 0 inset;
}
.submit-row input:hover {
	background: #7b7b7c;
	background-image: -webkit-linear-gradient(top, #b4b4b4, #909090);
	background-image: -moz-linear-gradient(top, #b4b4b4, #909090);	
	background-image: -o-linear-gradient(top, #b4b4b4, #909090);
	background-image: -ms-linear-gradient(top, #b4b4b4, #909090);
}
.submit-row input:active {
	background: #969595;
	background-image: -webkit-linear-gradient(top, #969595, #ababab);
	background-image: -moz-linear-gradient(top, #969595, #ababab);	
	background-image: -o-linear-gradient(top, #969595, #ababab);
	background-image: -ms-linear-gradient(top, #969595, #ababab);
}
.submit-row p {
	margin: 7px 0 0 5px;
}
.form-row {
	padding: 10px 25px;
}
.required label, label.required {
	color: #116bb9 !important; 
}
.form-row input,
.form-row textarea {
	height: 23px;
	background: #f3f3f3;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	box-shadow: #d8d8d8 0 2px 2px 0 inset;
	color: #565656;
}
.form-row textarea {
	height: inherit;
	padding: 10px;
}
.form-row input:focus,
.form-row textarea:focus {
	outline: none;
	border: 1px solid #ed8d1f;
}




/* Fieldset Toggle
- - - - - - - - - - - - - - - -*/
fieldset.collapsed h2, .module h2, .inline-group h2 {
	border-top: 2px solid #434343;
	background: #565656;
	color: #fff;
	font-size: 14px;
	padding: 3px 25px;	text-transform: uppercase;
}
fieldset.collapsed a.collapse-toggle,
fieldset h2 a.collapse-toggle {
	color: #ed8d1f;
	margin: 0 2px;
}
fieldset.collapsed h2 a.collapse-toggle:hover,
fieldset h2 a.collapse-toggle:hover {
	color: #fff;
}




/* Help Text
- - - - - - - - - - - - - - - -*/
form .aligned p.help {
	padding-left: 28px;
}




/* Inlines
- - - - - - - - - - - - - - - -*/
.inline-group {
	margin: 0 0 5px 0;
}
.inline-group h3 {
	background: #f3f3f3;
	border-top: 2px solid #d6d6d6;
	padding: 3px 25px;
	text-shadow: none;
}




/* Selector
- - - - - - - - - - - - - - - -*/
.selector .selector-available h2,
.selector .selector-chosen h2 {
	text-transform: none;
	background: #565656;
	color: #fff;
	padding-left: 10px;
	margin-top: 8px;
}
.selector .selector-filter {
	height: 30px;
	line-height: 30px;
	padding: 2px 0 7px 0;
}
.selector-chooseall,
.selector-clearall {
	background: none !important;
}



/* Date Time Stamp
- - - - - - - - - - - - - - - -*/
.vDateField {
	margin: 0 8px 8px 8px;
}
.vTimeField {
	margin: 0 8px 0 8px;
}
.clockbox,
.calendarbox {
	box-shadow: #434343 0 0 5px 0;
	border: none !important;
	margin: 22px 0 0 15px;
}
.clockbox:before,
.calendarbox:before {
	content:"";
	position: absolute;
	left: -10px;
	top: 0px;
	width: 0;
	height: 0;
	border-right: 18px solid #116bb9;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
}
.clockbox h2 {
	background: #116bb9;
	border: none;
}
.calendarbox table {
	width: 100%;
}
.calendarbox .calendarnav-previous,
.calendarbox .calendarnav-next {
	background: #116bb9;
	height: 34px;
	line-height: 34px;
}
.calendarbox .calendarnav-previous:hover,
.calendarbox .calendarnav-next:hover {
	background: #036;
}
.calendarbox caption {
	background: #116bb9;
	font-size: 14px;
	line-height: 31px;
	padding: 3px 0;
	width: 100%;
}
.calendarbox table td.today a:link {
	background: #ed8d1f;
	color: #fff;
}
.clockbox .timelist li a:link,
.clockbox .timelist li a:visited {
	padding: 5px 0;
}
.clockbox .timelist li a:hover {
	background: #ed8d1f;
}
.clockbox .timelist li a:active {
	background: #ed8d1f;
}
.clockbox .calendar-cancel,
.calendarbox .calendar-cancel {
	background: #555;
	padding: 0;
}
.clockbox .calendar-cancel a:link,
.clockbox .calendar-cancel a:visited,
.calendarbox .calendar-cancel a:link,
.calendarbox .calendar-cancel a:visited {
	display: block;
	color: #fff;
	padding: 4px 0;
}
.clockbox .calendar-cancel a:hover,
.calendarbox .calendar-cancel a:hover {
	background: #ed8d1f;
}



/* Sitemap Modal
- - - - - - - - - - - - - - - -*/
.ui-dialog fieldset {
	border-radius: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui-dialog fieldset label {

}
.ui-dialog fieldset p.help {
	margin-left: 87px;
}
.ui-dialog fieldset button {
	background: none;
	height: 28px;
	line-height: 10px;
	border: 1px solid #185488;
	border-radius: 15px;
	padding: 8px 13px;
	color: #fff;
	text-shadow: -1px -1px #185488;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	background: #0f74cb;
	background-image: -webkit-linear-gradient(top, #208cea, #116bb9);
	background-image: -moz-linear-gradient(top, #208cea, #116bb9);	
	background-image: -o-linear-gradient(top, #208cea, #116bb9);
	background-image: -ms-linear-gradient(top, #208cea, #116bb9);
	box-shadow: #55a6eb 0 1px 0 0 inset;
	cursor: pointer;
}
.ui-dialog fieldset button:hover {
	background: #208cea;
	background-image: -webkit-linear-gradient(top, #4da5f2, #208cea);
	background-image: -moz-linear-gradient(top, #4da5f2, #208cea);	
	background-image: -o-linear-gradient(top, #4da5f2, #208cea);
	background-image: -ms-linear-gradient(top, #4da5f2, #208cea);
	box-shadow: #79baf2 0 1px 0 0 inset;
}
.ui-dialog fieldset button:active {
	background: #116bb9;
	background-image: -webkit-linear-gradient(top, #116bb9, #208cea);
	background-image: -moz-linear-gradient(top, #116bb9, #208cea);	
	background-image: -o-linear-gradient(top, #116bb9, #208cea);
	background-image: -ms-linear-gradient(top, #116bb9, #208cea);
}
.ui-dialog fieldset div.advanced {
	background: #efefef;
	border-top: 1px solid #CCC;
	margin: 0;
	padding: 5px 10px 5px 18px;
}
.ui-dialog fieldset div.field-is_active {
	border-top: 1px solid #ccc;
}
.ui-dialog fieldset div.advanced a {
	display: inline-block;
	margin: 5px 0;
	height: 28px;
	line-height: 26px;
	border: 1px solid #6d6d6d;
	border-radius: 15px;
	padding: 3px 13px 0;
	color: white;
	text-shadow: -1px -1px #6d6d6d;
	font-weight: normal;
	background: #ababab;
	background-image: -webkit-linear-gradient(top, #ababab, #969595);
	background-image: -moz-linear-gradient(top, #ababab, #969595);	
	background-image: -o-linear-gradient(top, #ababab, #969595);
	background-image: -ms-linear-gradient(top, #ababab, #969595);
	box-shadow: #bababa 0 1px 0 0 inset;
	cursor: pointer;
	cursor: pointer;
}
.ui-dialog fieldset div.advanced a:hover {
	background: #7b7b7c;
	background-image: -webkit-linear-gradient(top, #b4b4b4, #909090);
	background-image: -moz-linear-gradient(top, #b4b4b4, #909090);	
	background-image: -o-linear-gradient(top, #b4b4b4, #909090);
	background-image: -ms-linear-gradient(top, #b4b4b4, #909090);
}
.ui-dialog fieldset div.advanced a:active {
	background: #969595;
	background-image: -webkit-linear-gradient(top, #969595, #ababab);
	background-image: -moz-linear-gradient(top, #969595, #ababab);	
	background-image: -o-linear-gradient(top, #969595, #ababab);
	background-image: -ms-linear-gradient(top, #969595, #ababab);
} 



/* Tabular Inlines
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
.inline-group .tabular {
	width: 960px !important;
	border-right: 1px solid #ccc;
	overflow-x: scroll;
}
.inline-group thead th {
	background: #F3F3F3 !important;
	border-top: 2px solid #7B7B7B;
	padding: 3px 25px;
	text-shadow: none;
}
.inline-group .tabular tr.has_original td {
	padding-top: 20px !important;
}
.inline-group .tabular td.original {
	position: relative;
}
.inline-group .tabular td.original p {
	top: 5px;
	overflow: visible;
	width: 300px;
}
.inline-group .tabular tr td button {
	background: none;
	display: block;
	height: 28px;
	line-height: 28px;
	border: 1px solid #185488;
	border-radius: 15px;
	padding: 0 13px;
	color: #fff;
	text-shadow: -1px -1px #185488;
	font-size: 12px;
	font-weight: normal;
	background: #0f74cb;
	background-image: -webkit-linear-gradient(top, #208cea, #116bb9);
	background-image: -moz-linear-gradient(top, #208cea, #116bb9);	
	background-image: -o-linear-gradient(top, #208cea, #116bb9);
	background-image: -ms-linear-gradient(top, #208cea, #116bb9);
	box-shadow: #55a6eb 0 1px 0 0 inset;
}
.inline-group .tabular tr td button:hover {
	background: #208cea;
	background-image: -webkit-linear-gradient(top, #4da5f2, #208cea);
	background-image: -moz-linear-gradient(top, #4da5f2, #208cea);	
	background-image: -o-linear-gradient(top, #4da5f2, #208cea);
	background-image: -ms-linear-gradient(top, #4da5f2, #208cea);
	box-shadow: #79baf2 0 1px 0 0 inset;
}
.inline-group .tabular tr td button:active {
	background: #116bb9;
	background-image: -webkit-linear-gradient(top, #116bb9, #208cea);
	background-image: -moz-linear-gradient(top, #116bb9, #208cea);	
	background-image: -o-linear-gradient(top, #116bb9, #208cea);
	background-image: -ms-linear-gradient(top, #116bb9, #208cea);
}
.inline-group .tabular tr.add-row td a {
	padding-left: 20px;
}




/* Menu Edit Screen
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
#menuitem_set-group {
	margin: 0;
	border: 1px solid #c5c5c5;
}
#menuitem_set-group li.inline-related {
	cursor: move;
}
#menuitem_set-group li li.inline-related {
	background: url(images/icon_nested_arrow.png) left top no-repeat transparent;
}
#menuitem_set-group li.inline-related fieldset {
	background: #fcfcfc;
	width: 100%;
	padding: 0 10px 0 10px;
	margin: 5px 0 0 -10px;
}
#menuitem_set-group li:nth-child(even) {
	background: #f6f6f6;
}
#menuitem_set-group li div {
	border: none;
	margin: 0;
	line-height: 19px;
	border-top: 1px solid #c5c5c5;
	padding: 9px 10px 9px 18px;
	list-style: none;
	position: relative;
}
#menuitem_set-group li li div {
	border-top: 1px dashed #c5c5c5;
	background: transparent;
}
#menuitem_set-group li div.form-row {
	border-top: none;
	padding: 0;
	background: transparent;
}
#menuitem_set-group li div.object_id div {
	min-height: 29px !important;
}
#menuitem_set-group li div.object_id div button {
	background: none;
	height: 28px;
	line-height: 10px;
	border: 1px solid #185488;
	border-radius: 15px;
	padding: 8px 13px;
	color: #fff;
	text-shadow: -1px -1px #185488;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	background: #0f74cb;
	background-image: -webkit-linear-gradient(top, #208cea, #116bb9);
	background-image: -moz-linear-gradient(top, #208cea, #116bb9);	
	background-image: -o-linear-gradient(top, #208cea, #116bb9);
	background-image: -ms-linear-gradient(top, #208cea, #116bb9);
	box-shadow: #55a6eb 0 1px 0 0 inset;
}
#menuitem_set-group li div.object_id div button:hover {
	background: #208cea;
	background-image: -webkit-linear-gradient(top, #4da5f2, #208cea);
	background-image: -moz-linear-gradient(top, #4da5f2, #208cea);	
	background-image: -o-linear-gradient(top, #4da5f2, #208cea);
	background-image: -ms-linear-gradient(top, #4da5f2, #208cea);
	box-shadow: #79baf2 0 1px 0 0 inset;
}
#menuitem_set-group li div.object_id div button:active {
	background: #116bb9;
	background-image: -webkit-linear-gradient(top, #116bb9, #208cea);
	background-image: -moz-linear-gradient(top, #116bb9, #208cea);	
	background-image: -o-linear-gradient(top, #116bb9, #208cea);
	background-image: -ms-linear-gradient(top, #116bb9, #208cea);
}
#menuitem_set-group li div.form-row div {
	border-top: 1px solid #c5c5c5;
	padding: 10px;
}
#menuitem_set-group li h3 {
	text-shadow: none;
	margin: 0;
	padding: 0;
	background: transparent;
	border: none;
}
#menuitem_set-group li h3 span.inline_label {
	color: #434343;
	font-size: 16px;
	margin-right: 5px;
	text-transform: none;
}
#menuitem_set-group li li h3 span.inline_label {
	font-size: 14px;
	text-transform: none;
	font-weight: normal;
}
#menuitem_set-group li h3 span.delete input {
	vertical-align: middle;
}
#menuitem_set-group li h3 span.detail a:link,
#menuitem_set-group li h3 span.detail a:visited {
	opacity: 1;
	color: #ed8d1f;
	font-weight: bold;
	text-transform: uppercase;
}
#menuitem_set-group li h3 a:link,
#menuitem_set-group li h3 a:visited,
#menuitem_set-group li h3 span.delete {
	text-transform: none;
	font-weight: normal;
	color: #666;
	opacity: .15;
}
#menuitem_set-group div:hover h3 a,
#menuitem_set-group div:hover h3 span.delete {
	opacity: 1;
}
#menuitem_set-group li h3 a:hover {
	color: #ed8d1f;
}
#menuitem_set-group li h3 span.delete {
	margin-right: 10px;
}
.inline-group div.add-row, 
.inline-group .tabular tr.add-row td {
	background: transparent;
	border-top: 1px solid #ccc;
	margin: 0;
	padding: 12px 10px 12px 18px;
}
.inline-group .tabular tr.add-row {
	background: #e1e1e1 !important;
	border-bottom: none !important;
}
.inline-group ul.tools a.add, 
.inline-group div.add-row a, 
.inline-group .tabular tr.add-row td a {
	margin: 3px 8px 3px 0;
	height: 28px;
	line-height: 26px;
	border: 1px solid #6d6d6d;
	border-radius: 15px;
	padding: 8px 13px;
	color: white;
	text-shadow: -1px -1px #6d6d6d;
	text-transform: uppercase;
	font-weight: normal;
	background: #ababab;
	background-image: -webkit-linear-gradient(top, #ababab, #969595);
	background-image: -moz-linear-gradient(top, #ababab, #969595);	
	background-image: -o-linear-gradient(top, #ababab, #969595);
	background-image: -ms-linear-gradient(top, #ababab, #969595);
	box-shadow: #bababa 0 1px 0 0 inset;
}
.inline-group ul.tools a.add:hover, 
.inline-group div.add-row a:hover, 
.inline-group .tabular tr.add-row td a:hover {
	background: #7b7b7c;
	background-image: -webkit-linear-gradient(top, #b4b4b4, #909090);
	background-image: -moz-linear-gradient(top, #b4b4b4, #909090);	
	background-image: -o-linear-gradient(top, #b4b4b4, #909090);
	background-image: -ms-linear-gradient(top, #b4b4b4, #909090);
}
.inline-group ul.tools a.add:active, 
.inline-group div.add-row a:active, 
.inline-group .tabular tr.add-row td a:active {
	background: #969595;
	background-image: -webkit-linear-gradient(top, #969595, #ababab);
	background-image: -moz-linear-gradient(top, #969595, #ababab);	
	background-image: -o-linear-gradient(top, #969595, #ababab);
	background-image: -ms-linear-gradient(top, #969595, #ababab);
}



/* Admin Tables
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
.dashboard #content-main .module {
	margin-bottom: 0;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border: none;
}
#content-main .module table {
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
}
#content-main .module table caption {
	font-size: 19px;
	text-shadow: 1px 1px #ebebeb;
	text-transform: uppercase;
	height: 36px;
	line-height: 36px;
	border: 1px solid #7b7b7b;
	border-bottom: 1px solid #555657;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	box-shadow: 0 1px 0 0 #ebebeb inset;
	background: #bdbdbd;
	background-image: -webkit-linear-gradient(top, #c8c8c8, #afafaf);
	background-image: -moz-linear-gradient(top, #c8c8c8, #afafaf);	
	background-image: -o-linear-gradient(top, #c8c8c8, #afafaf);
	background-image: -ms-linear-gradient(top, #c8c8c8, #afafaf);
	position: relative;
}
#content-main .module table caption a:link, #content-main .module table caption a:visited {
	color: #555;
	padding-left: 5px;
}
#content-main .module table tr {
	border-bottom: 1px solid #ccc;
}
#content-main .module table:not(.cke_editor) tr:nth-child(odd),
.row1 {
	background: #fff !important;
}
#content-main .module table:not(.cke_editor) tr:nth-child(even),
.row2 {
	background: #f3f3f3 !important;
}
#content-main .module table tr th, 
#content-main .module table tr td {
	padding: 7px;
	height: 21px;
	vertical-align: middle;
}
.addlink {
	background: url(images/icon_add.png) 0 -28px no-repeat;
	padding-left: 18px;
}
.changelink {
	background: url(images/icon_edit.png) 0 -28px no-repeat;
	padding-left: 18px;
}
a.addlink:link, 
a.addlink:visited,
a.changelink:link, 
a.changelink:visited {
	color: #555;
}
.addlink:hover,
.changelink:hover {
	background-position: 0 0;
}
a.addlink:hover,
a.changelink:hover {
	color: #ed8d1f;
}





/* Footer
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
footer {
	width: 960px;
	margin: 0 auto;
	border-top: 1px solid #999999;
	box-shadow: rgba(0, 0, 0, .15) 0 5px 0 inset;
}
footer p {
	height: 24px;
	width: 121px;
	margin: 0 auto;
	text-indent: -9999px;
}
footer p a {
	display: block;
	padding: 15px;
	background: url(images/footer_csky.png) center no-repeat;
}




/* Sitewide CSS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
html { 
	overflow-y: scroll;
}
a:hover, a:active { 
	outline: none; 
}
nav ul, nav li { 
	margin: 0; 
}
sub { 
	vertical-align: sub; 
	font-size: smaller; 
}
sup { 
	vertical-align: super; 
	font-size: smaller; 
}
textarea { 
	overflow: auto; 
}
.ie6 legend, .ie7 legend { 
	margin-left: -7px; 
}
input[type="radio"] { 
	vertical-align: text-bottom; 
}
input[type="checkbox"] { 
	vertical-align: bottom;
}
.ie7 input[type="checkbox"] { 
	vertical-align: baseline; 
}
.ie6 input { 
	vertical-align: text-bottom;
}
label, input[type=button], input[type=submit], button { 
	cursor: pointer; 
}

/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #ed8d1f; color:#fff; text-shadow: none; }
::selection { background:#ed8d1f; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }


/* Print CSS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
