{% load i18n admin_static %}
<div class="inline-group{% if inline_admin_formset %} {{ inline_admin_formset.formset.prefix|default:"Root" }}-nested-inline nested-inline{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-group">
    <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>
    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}

    {% for inline_admin_form in inline_admin_formset %}
    <div class="inline-related{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
        <h3>
            <b>{{ inline_admin_formset.opts.verbose_name|title }}:</b>&nbsp;<span class="inline_label">{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% else %}#{{ forloop.counter }}{% endif %}</span>
            {% if inline_admin_form.show_url %}
                <a href="{% url 'admin:view_on_site' inline_admin_form.original_content_type_id inline_admin_form.original.pk %}">{% trans "View on site" %}</a>
            {% endif %}
            {% if inline_admin_formset.formset.can_delete %}
                <span class="delete">
                    {% if inline_admin_form.original or not forloop.last %}
                        {{ inline_admin_form.deletion_field.field }}
                        <label for="id_{{ inline_admin_formset.formset.prefix }}-{{ forloop.counter0 }}-DELETE" class="stackedinline_delete">Delete</label>
                        <label for="id_{{ inline_admin_formset.formset.prefix }}-{{ forloop.counter0 }}-DELETE" class="undo_stackedinline_delete hidden">Undo Delete</label>
                    {% endif %}
                </span>
            {% endif %}
        </h3>
        {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
        {% for fieldset in inline_admin_form %}
            {% include "admin/includes/fieldset.html" %}
        {% endfor %}
        {% if inline_admin_form.has_auto_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
        {{ inline_admin_form.fk_field.field }}
        {% if inline_admin_form.form.inline_admin_formsets %}
            {% for child_inline_admin_formset in inline_admin_form.form.inline_admin_formsets %}
                {% include child_inline_admin_formset.opts.template %}
                <div class="recursive-inline-bottom-border"></div>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    (function($){
        $("#{{ inline_admin_formset.formset.prefix }}-group > .inline-related").stackedFormset({
            prefix: '{{ inline_admin_formset.formset.prefix }}',
            adminStaticPrefix: '{% static "admin/" %}',
            addText: "{% trans "Add" %}",
            deleteText: "{% trans "Remove" %}"
        });
    })(django.jQuery);
</script>
